/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2024-03-22
 * @ Description: Warm Light theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */
/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(21, 0, 0);
@define-color fg-dark-low-color             rgb(28, 9, 0);
@define-color fg-dark-color              rgb(32, 17, 0);
@define-color fg-dark-high-color         rgb(37, 25, 0);
@define-color fg-dark-higher-color       rgb(55, 45, 33);

/* Background shade colors */
@define-color shade-lower-color          rgb(57, 48, 36);
@define-color shade-low-color            rgb(62, 52, 42);
@define-color shade-color                rgb(66, 57, 48);
@define-color shade-high-color           rgb(75, 66, 58);
@define-color shade-higher-color         rgb(82, 73, 65);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(123, 112, 103);
@define-color mid-low-hover-color        rgb(137, 126, 116);
@define-color mid-color                  rgb(147, 135, 125);
@define-color mid-high-color          rgb(172, 160, 148);
@define-color mid-high-hover-color    rgb(179, 166, 155);
@define-color mid-higher-color        rgb(193, 180, 168);
@define-color mid-highest-color       rgb(209, 196, 183);
@define-color mid-highest-hover-color rgb(223, 210, 196);

/* Background light colors */
@define-color light-low-color         rgb(231, 216, 200);
@define-color light-low-hover-color   rgb(238, 223, 207);
@define-color light-color             rgb(247, 231, 214);
@define-color light-hover-color       rgb(255, 239, 222);
@define-color light-high-color        rgb(255, 246, 229);
@define-color light-higher-color      rgb(255, 255, 241);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(227, 208, 190);
@define-color fg-bright-low-color     rgb(239, 220, 201);
@define-color fg-bright-color         rgb(251, 232, 212);
@define-color fg-bright-high-color    rgb(255, 244, 224);
@define-color fg-white-color          rgb(255, 255, 235);

/* Highlighting color */
@define-color highlight-low-color       rgb(153, 43, 21);
@define-color highlight-color           rgb(176, 94, 80);

/* fg darks with no remapping */
@define-color og-black-color                rgb(21, 0, 0);
@define-color og-dark-low-color             rgb(28, 9, 0);
@define-color og-dark-color              rgb(32, 17, 0);
@define-color og-dark-high-color         rgb(37, 25, 0);
@define-color og-dark-higher-color       rgb(55, 45, 33);

/* End paste */

@define-color bg-color                    @mid-color;

/* Canvas color */
@define-color canvas-color             rgb(140, 130, 117);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* Decoration shadow opacity */
@define-color box-shadow-color        rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color  rgba(0, 0, 0, 0);

/* specifically for subtlety, relative to, mid-high-color (172, 160, 148) (-5...-3 */
@define-color seperator-color       rgb(157, 145, 133);
@define-color seperator-hover-color rgb(164, 152, 140);

/* Disabled actions in menus */
@define-color disabled-color     @mid-highest-hover-color;

/* Theme accent colors, sliders... */
@define-color warm-shade-color           rgb(135, 85, 60);
@define-color warm-low-color            rgb(180, 104, 50);
@define-color warm-color                rgb(191, 122, 45);
@define-color warm-hover-color          rgb(205, 137, 60);
@define-color warm-high-color           rgb(215, 150, 75);
@define-color warm-light-low-color      rgb(225, 165, 95);
@define-color warm-light-color         rgb(230, 190, 105);
@define-color warm-light-high-color    rgb(235, 200, 130);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:               @fg-bright-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}