/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Warm Dark theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */

/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(26, 0, 0);
@define-color fg-dark-low-color             rgb(30, 0, 0);
@define-color fg-dark-color              rgb(32, 4, 0);
@define-color fg-dark-high-color         rgb(34, 12, 0);
@define-color fg-dark-higher-color       rgb(47, 28, 9);

/* Background shade colors */
@define-color shade-lower-color          rgb(31, 3, 0);
@define-color shade-low-color            rgb(32, 5, 0);
@define-color shade-color                rgb(33, 8, 0);
@define-color shade-high-color           rgb(35, 13, 0);
@define-color shade-higher-color         rgb(37, 17, 0);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(54, 38, 24);
@define-color mid-low-hover-color        rgb(61, 47, 35);
@define-color mid-color                  rgb(67, 53, 41);
@define-color mid-high-color          rgb(84, 70, 59);
@define-color mid-high-hover-color    rgb(89, 75, 64);
@define-color mid-higher-color        rgb(100, 86, 74);
@define-color mid-highest-color       rgb(115, 99, 87);
@define-color mid-highest-hover-color rgb(128, 111, 98);

/* Background light colors */
@define-color light-low-color         rgb(179, 155, 136);
@define-color light-low-hover-color   rgb(185, 161, 142);
@define-color light-color             rgb(193, 168, 149);
@define-color light-hover-color       rgb(200, 175, 155);
@define-color light-high-color        rgb(207, 181, 161);
@define-color light-higher-color      rgb(219, 192, 172);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(220, 197, 179);
@define-color fg-bright-low-color     rgb(231, 208, 190);
@define-color fg-bright-color         rgb(243, 219, 201);
@define-color fg-bright-high-color    rgb(255, 231, 212);
@define-color fg-white-color          rgb(255, 243, 224);

/* Highlighting color */
@define-color highlight-low-color       rgb(83, 30, 0);
@define-color highlight-color           rgb(106, 50, 0);

/* fg darks with no remapping */
@define-color og-black-color                rgb(26, 0, 0);
@define-color og-dark-low-color             rgb(30, 0, 0);
@define-color og-dark-color              rgb(32, 4, 0);
@define-color og-dark-high-color         rgb(34, 12, 0);
@define-color og-dark-higher-color       rgb(47, 28, 9);

/* End paste */

@define-color bg-color                    @mid-color;

/* Canvas color */
@define-color canvas-color                rgb(71, 59, 49);

/* specifically for subtlety, relative to, mid-high-color rgb(84, 70, 59) (-5...-3 */
@define-color seperator-color       rgb(69, 55, 44);
@define-color seperator-hover-color rgb(76, 62, 51);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* Decoration shadow opacity */
@define-color box-shadow-color        rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color  rgba(0, 0, 0, 0);

/* Remap for dark theme */
@define-color fg-black-color              @fg-white-color;
@define-color fg-dark-low-color     @fg-bright-high-color;
@define-color fg-dark-color              @fg-bright-color;
@define-color fg-dark-high-color     @fg-bright-low-color;
@define-color fg-dark-higher-color @fg-bright-lower-color;




/* Disabled actions in menus */
@define-color disabled-color     @mid-highest-hover-color;

/* Theme accent colors, sliders... */
@define-color warm-shade-color           rgb(135, 85, 60);
@define-color warm-low-color            rgb(180, 104, 50);
@define-color warm-color                rgb(191, 122, 45);
@define-color warm-hover-color          rgb(205, 137, 60);
@define-color warm-high-color           rgb(215, 150, 75);
@define-color warm-light-low-color      rgb(225, 165, 95);
@define-color warm-light-color         rgb(230, 190, 105);
@define-color warm-light-high-color    rgb(235, 200, 130);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:               @fg-bright-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}