/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Warm theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */


/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(21, 0, 0);
@define-color fg-dark-low-color             rgb(26, 3, 0);
@define-color fg-dark-color              rgb(28, 8, 0);
@define-color fg-dark-high-color         rgb(31, 15, 0);
@define-color fg-dark-higher-color       rgb(45, 31, 8);

/* Background shade colors */
@define-color shade-lower-color          rgb(48, 34, 15);
@define-color shade-low-color            rgb(51, 38, 22);
@define-color shade-color                rgb(55, 42, 28);
@define-color shade-high-color           rgb(62, 49, 36);
@define-color shade-higher-color         rgb(68, 55, 43);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(102, 88, 76);
@define-color mid-low-hover-color        rgb(114, 99, 86);
@define-color mid-color                  rgb(122, 107, 93);
@define-color mid-high-color          rgb(143, 127, 111);
@define-color mid-high-hover-color    rgb(149, 133, 116);
@define-color mid-higher-color        rgb(160, 144, 127);
@define-color mid-highest-color       rgb(174, 157, 139);
@define-color mid-highest-hover-color rgb(186, 168, 149);

/* Background light colors */
@define-color light-low-color         rgb(199, 177, 152);
@define-color light-low-hover-color   rgb(205, 183, 158);
@define-color light-color             rgb(212, 190, 164);
@define-color light-hover-color       rgb(219, 196, 170);
@define-color light-high-color        rgb(225, 202, 175);
@define-color light-higher-color      rgb(235, 212, 185);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(228, 205, 179);
@define-color fg-bright-low-color     rgb(239, 215, 188);
@define-color fg-bright-color         rgb(249, 225, 198);
@define-color fg-bright-high-color    rgb(255, 235, 208);
@define-color fg-white-color          rgb(255, 245, 217);

/* Highlighting color */
@define-color highlight-low-color       rgb(150, 47, 17);
@define-color highlight-color           rgb(174, 95, 76);

/* fg darks with no remapping */
@define-color og-black-color                rgb(21, 0, 0);
@define-color og-dark-low-color             rgb(26, 3, 0);
@define-color og-dark-color              rgb(28, 8, 0);
@define-color og-dark-high-color         rgb(31, 15, 0);
@define-color og-dark-higher-color       rgb(45, 31, 8);


/* End paste */

@define-color bg-color                    @mid-color;

/* Canvas color */
@define-color canvas-color             rgb(110, 100, 87);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* Disabled actions in menus */
@define-color disabled-color              rgb(92, 78, 66);

/* specifically for subtlety, relative to, mid-high-color (143, 127, 111) (-5...-3 */
@define-color seperator-color       rgb(125, 109, 93);
@define-color seperator-hover-color rgb(131, 115, 99);

/* Decoration shadow opacity */
@define-color box-shadow-color       rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color rgba(0, 0, 0, 0);

/* Theme accent colors */
@define-color warm-shade-color          rgb(135, 95, 70);
@define-color warm-low-color           rgb(190, 124, 70);
@define-color warm-color               rgb(211, 152, 75);
@define-color warm-hover-color         rgb(216, 157, 80);
@define-color warm-high-color          rgb(235, 170, 95);
@define-color warm-light-low-color    rgb(245, 185, 115);
@define-color warm-light-color        rgb(250, 210, 125);
@define-color warm-light-high-color   rgb(255, 220, 150);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:                 @fg-dark-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}

