/*
* @ THEME ADJUSTMENTS GO IN HERE
*/


check {
  background-color:   transparent;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-unchecked-light.svg");
}

check:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

check:checked {
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked-light.svg");
}

check:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked-disabled-light.svg");
}

radio:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio {
  background-color:   transparent;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/radiobutton/radio-unchecked-light.svg");
}

radio:checked {
  -gtk-icon-source: url("../assets/radiobutton/radio-checked-light.svg");
}


/* Hover, GimpDock checkboxes */
GimpDock paned widget checkbutton:hover label,
GimpDock paned widget radiobutton:hover label {
  color: @fg-black-color;
}

/* checkboxes */
checkbutton:hover label,
radiobutton:hover label {
  color: @fg-black-color;
}

/* Slider trough */
GimpSpinScale entry {
  background-color: @mid-low-color;
}

/* Focus, trough */
GimpSpinScale entry:focus {
  background-color: @mid-low-color;
}

/* Slider progress/amount bar and margins */
GimpSpinScale progress {
  background-color: @mid-highest-color;
}

/* Focus, progress bar */
 GimpSpinScale progress:focus {
  background-color: @light-high-color;
}



/* Focus, user can enter data, color has no effect on spinbuttons */
entry:focus {
  color:                @fg-dark-color;
  background-color:  @light-high-color;
  border-color:     @shade-lower-color;
  caret-color:            @caret-color;
}

/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  color:             @shade-low-color;
  background-color: @mid-higher-color;
  border-color:   @shade-higher-color;
}

/* Hover, overrides */
spinbutton        button:not(:checked):hover,
dialog spinbutton button:not(:checked):hover,
GimpSpinScale     button:not(:checked):hover {
  color:                  @shade-lower-color;
  background-color: @mid-highest-hover-color;
  border-color:            @shade-high-color;
}

/* Focus, overrides */
spinbutton        button:focus,
dialog spinbutton button:focus,
GimpSpinScale     button:focus {
  color:           @fg-dark-high-color;
  background-color: @mid-highest-color;
  border-color:           @shade-color;
}

/* Focus and Hover */
spinbutton        button:focus:hover,
dialog spinbutton button:focus:hover,
GimpSpinScale     button:focus:hover {
  color:            @fg-dark-color;
  background-color:   @light-color;
  border-color: @shade-lower-color;
}

/* Holding down */
spinbutton        button:active,
dialog spinbutton button:active,
GimpSpinScale     button:active {
  color:           @fg-dark-low-color;
  background-color: @light-high-color;
  border-color:    @shade-lower-color;
}

/* Buttons */
button {
  background-color: @mid-higher-color;
  border-color:   @shade-higher-color;
}

/* tabs, need to be specific because of the image bar tabs */
GimpDock header tab,
dialog header tab {
  background-color: @mid-higher-color;
  border-color:   @shade-higher-color;
}

/* Hover, except for the selected one, contrast goes up */
button:not(:checked):hover,
GimpDock header tab:not(:checked):hover,
dialog header tab:not(:checked):hover {
  color:                @fg-dark-color;
  background-color: @mid-highest-color;
  border-color:           @shade-color;
}

/* Hover, checked button, has even higher contrast */
button:checked:hover,
GimpDock header tab:checked:hover,
dialog header tab:checked:hover {
  background-color: @mid-highest-color;
  border-color:      @light-high-color;
}

/* Clicked, highest contrast */
button:active:hover,
button:checked:active:hover,
GimpDock header tab:checked:active:hover,
dialog header tab:checked:active:hover {
  background-color: @mid-highest-hover-color;
  border-color:          @light-higher-color;
}

/* Checked button - on, higher contrast */
button:checked {
  background-color: @mid-highest-color;
  border-color:    @light-higher-color;
}

/* Checked tab- on, higher contrast */
GimpDock header tab:checked,
dialog header tab:checked {
  background-color: @mid-highest-color;
  border-color:       @fg-bright-color;
}

/* Hover, checked button, has even higher contrast */
toolbutton button:checked:hover {
  background-color: @fg-bright-high-color;
  border-color:      @highlight-low-color;
}

/* Clicked, highest contrast */
toolbutton button:active:hover,
toolbutton button:checked:active:hover {
  background-color:    @fg-white-color;
  border-color: @highlight-hover-color;
}

/* Checked button - on, higher contrast */
toolbutton button:checked {
  background-color: @fg-bright-low-color;
  border-color:         @highlight-color;
}


/*** Reset and Link Button Overrides ***/

/* Button */
GimpDock widget viewport box box box button.flat {
  color:        @fg-dark-higher-color;
  background-color: @mid-higher-color;
  border:                   solid 2px;
  border-color:   @shade-higher-color;
  opacity:                        0.8;
}

/* Hover, except for the selected one, contrast goes up */
GimpDock widget viewport box box box button.flat:not(:checked):hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:         @mid-low-color;
  opacity:                         0.9;
}

/* Hover, checked button, has even higher contrast */
GimpDock widget viewport box box box button.flat:checked:hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:           @light-color;
  opacity:                           1;
}

/* Clicked, highest contrast */
GimpDock widget viewport box box box button.flat:active:hover,
GimpDock widget viewport box box box button.flat:checked:active:hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
  opacity:                           1;
}

/* Checked - on, higher contrast */
GimpDock widget viewport box box box button.flat:checked {
  background-color:   @light-high-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
  opacity:                        0.95;
}


/* Hover, a menu item */
menuitem:hover {
  background: @mid-highest-hover-color;
}


/* Toolbutton and Action button texture */
toolbutton button,
buttonbox button {
  background-image: url("../assets/toolbutton/toolbutton-light.png");
}

/* Checked button - on, higher contrast */
toolbutton button:checked {
  background-image: url("../assets/toolbutton/toolbutton-checked-light.png");
}

/* Checked, Layer locks */
popover button:checked {
  border-color: @highlight-color;
}

/* Checked, Clicked Layer locks */
popover button:checked:active:hover {
  border-color: @highlight-hover-color;
}

/* Checked Hover */
popover button:checked:hover {
  border-color: @highlight-low-color;
}

/* Tabs, need to be specific because of the image bar tabs */
GimpDock header tab,
dialog header tab,
GimpDock header button {
  background-image: url("../assets/tab/tab-light.png");
}

toolbutton button:not(:checked):hover {
  border-color:      @fg-black;
  background-image: url("../assets/toolbutton/toolbutton-hover-light.png");
}

/* Cellview, external view of combobox */
cellview {
  background-image: url("../assets/cellview/cellview-light.png");
}

/* Entry for 'filter' */
GimpDock widget box box > entry {
  background-image: url("../assets/cellview/cellview-light.png");
}

GimpSpinScale progress {
  background-image: url("../assets/cellview/cellview-light.png");
}

/* Hover, highlighting on iconview */
iconview:not(:selected):hover {
  border-color: @fg-white-color;
}

/* Selected items highlighting, red for Gray theme! deals with gray brushes */
iconview:selected {
  border-color: @highlight-low-color;
}

/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  background-image: url("../assets/spinbutton/spinbutton-light.png");
}

/* Hopefully, just the curve view in dynamics */
GimpDock notebook notebook widget .view  {
  background-color: @light-color;
}