/*
* @ THEME ADJUSTMENTS GO IN HERE
*/

check {
  background-color:   transparent;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-unchecked.svg");
}

check:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

check:checked {
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked.svg");
}

check:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked-disabled.svg");
}

radio:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio {
  background-color:   transparent;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/radiobutton/radio-unchecked.svg");
}

radio:checked {
  -gtk-icon-source: url("../assets/radiobutton/radio-checked.svg");
}


/* Hover, GimpDock checkboxes */
GimpDock paned widget checkbutton:hover label,
GimpDock paned widget radiobutton:hover label {
  color: @fg-black-color;
}

/* checkboxes */
checkbutton:hover label,
radiobutton:hover label {
  color: @fg-black-color;
}

/* Slider trough */
GimpSpinScale entry {
  background-color: @mid-low-color;
}

/* Focus, trough */
GimpSpinScale entry:focus {
  background-color: @mid-low-color;
}

/* Slider progress/amount bar and margins */
GimpSpinScale progress {
  background-color: @mid-highest-color;
}

/* Focus, progress bar */
 GimpSpinScale progress:focus {
  background-color: @light-high-color;
}



/* Focus, user can enter data, color has no effect on spinbuttons */
entry:focus {
  color:                @fg-dark-color;
  background-color:  @light-high-color;
  border-color:     @shade-lower-color;
  caret-color:            @caret-color;
}

/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  color:             @shade-low-color;
  background-color: @mid-higher-color;
  border-color:   @shade-higher-color;
}

/* Hover, overrides */
spinbutton        button:not(:checked):hover,
dialog spinbutton button:not(:checked):hover,
GimpSpinScale     button:not(:checked):hover {
  color:                  @shade-lower-color;
  background-color: @mid-highest-hover-color;
  border-color:            @shade-high-color;
}

/* Focus, overrides */
spinbutton        button:focus,
dialog spinbutton button:focus,
GimpSpinScale     button:focus {
  color:           @fg-dark-high-color;
  background-color: @mid-highest-color;
  border-color:           @shade-color;
}

/* Focus and Hover */
spinbutton        button:focus:hover,
dialog spinbutton button:focus:hover,
GimpSpinScale     button:focus:hover {
  color:            @fg-dark-color;
  background-color:   @light-color;
  border-color: @shade-lower-color;
}

/* Holding down */
spinbutton        button:active,
dialog spinbutton button:active,
GimpSpinScale     button:active {
  color:           @fg-dark-low-color;
  background-color: @light-high-color;
  border-color:    @shade-lower-color;
}

/* Buttons */
button {
  background-color: @mid-higher-color;
  border-color:   @shade-higher-color;
}

/* tabs, need to be specific because of the image bar tabs */
GimpDock header tab,
dialog header tab {
  background-color: @mid-higher-color;
  border-color:   @shade-higher-color;
}

/* Hover, except for the selected one, contrast goes up */
button:not(:checked):hover,
GimpDock header tab:not(:checked):hover,
dialog header tab:not(:checked):hover {
  color:                @fg-dark-color;
  background-color: @mid-highest-color;
  border-color:           @shade-color;
}




/* Hover, checked button, has even higher contrast */
button:checked:hover {
  background-color: @mid-highest-color;
  border-color:      @light-high-color;
}

GimpDock header tab:checked:hover,
dialog header tab:checked:hover {
  background-color: @mid-highest-color;
  border-color:      @highlight-low-color;
}

/* Clicked, highest contrast */
button:active:hover,
button:checked:active:hover,
GimpDock header tab:checked:active:hover,
dialog header tab:checked:active:hover {
  background-color: @mid-highest-hover-color;
  border-color:          @light-higher-color;
}

/* Checked button - on, higher contrast */
button:checked {
  background-color: @mid-highest-color;
  border-color:    @light-higher-color;
}

/* Checked tab- on, higher contrast */
GimpDock header tab:checked,
dialog header tab:checked {
  background-color: @mid-highest-color;
  border-color:       @highlight-color;
}

/* Hover, checked button, has even higher contrast */
toolbutton button:checked:hover {
  background-color: @fg-bright-high-color;
  border-color:      @highlight-low-color;
}

toolbutton button:not(:checked):hover {
  border-color:     @highlight-low-color;
  background-image: url("../assets/toolbutton/toolbutton-hover.png");
}

/* Clicked, highest contrast */
toolbutton button:active:hover,
toolbutton button:checked:active:hover {
  background-color:    @fg-white-color;
  border-color: @highlight-hover-color;
}

/* Checked button - on, higher contrast */
toolbutton button:checked {
  background-color: @fg-bright-low-color;
  border-color:         @highlight-color;
}


/*** Separators ***/

paned.horizontal > separator {
  background-image: url("../assets/separators/separator-handle.svg");
}

paned.vertical > separator {
  background-image: url("../assets/separators/separator-handle-v.svg");
}

/* Hover effect */
paned.horizontal > separator:hover,
paned.vertical > separator:hover {
  border-color: @mid-low-color;
}



/*** Reset and Link Button Overrides ***/

/* Button */
GimpDock widget viewport box box box button.flat {
  color:        @fg-dark-higher-color;
  background-color: @mid-higher-color;
  border:                   solid 2px;
  border-color:   @shade-higher-color;
  opacity:                        0.8;
}

/* Hover, except for the selected one, contrast goes up */
GimpDock widget viewport box box box button.flat:not(:checked):hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:         @mid-low-color;
  opacity:                         0.9;
}

/* Hover, checked button, has even higher contrast */
GimpDock widget viewport box box box button.flat:checked:hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:           @light-color;
  opacity:                           1;
}

/* Clicked, highest contrast */
GimpDock widget viewport box box box button.flat:active:hover,
GimpDock widget viewport box box box button.flat:checked:active:hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
  opacity:                           1;
}

/* Checked - on, higher contrast */
GimpDock widget viewport box box box button.flat:checked {
  background-color:   @light-high-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
  opacity:                        0.95;
}



/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  border-left: none;
  border-color: @shade-higher-color;
}

/* Hover, overrides */
spinbutton        button:not(:checked):hover,
dialog spinbutton button:not(:checked):hover,
GimpSpinScale     button:not(:checked):hover {
  border-left: none;
}

/* Focus, overrides */
spinbutton        button:focus,
dialog spinbutton button:focus,
GimpSpinScale     button:focus {
  border-left: none;
}

/* Focus and Hover */
spinbutton        button:focus:hover,
dialog spinbutton button:focus:hover,
GimpSpinScale     button:focus:hover {
  border-left: none;
}

/* Holding down */
spinbutton        button:active,
dialog spinbutton button:active,
GimpSpinScale     button:active {
  border-left: none;
}

spinbutton entry {
  border-color: @shade-higher-color;
}

/* Hover, a menu item */
menuitem:hover {
  background: @mid-highest-hover-color
}


/* The active button of a dialog, what happens when you hit enter */
button.default {
  background-color: @mid-highest-hover-color;
  border-color:             @highlight-color;
}

/* Hover */
button.default:hover {
  background-color: @light-color;
  border-color: @highlight-low-color;
}


/* Toolbutton and Action button texture */
toolbutton button,
buttonbox button {
  background-image: url("../assets/toolbutton/toolbutton.png");
}

/* Checked button - on, higher contrast */
toolbutton button:checked {
  background-image: url("../assets/toolbutton/toolbutton-checked.png");
}


/* Checked, Layer locks */
popover button:checked {
  border-color: @highlight-color;
}

/* Checked, Clicked Layer locks */
popover button:checked:active:hover {
  border-color: @highlight-hover-color;
}

/* Checked Hover */
popover button:checked:hover {
  border-color: @highlight-low-color;
}

/* Tabs, need to be specific because of the image bar tabs */
GimpDock header tab,
dialog header tab,
GimpDock header button {
  background-image: url("../assets/tab/tab.png");
}

/*** Visibility Buttons in the Layer Stack ***/

/* Dotted line boxes to indicate a layer option */
GimpDock treeview .toggle-icon:not(.visible):hover {
  color:        @fg-dark-color;
  border:           dotted 2px;
  border-color: @shade-low-color;
}

/* Selected Hover,*/
GimpDock treeview .toggle-icon:not(.visible):selected:hover {
  border:       dotted 2px;
  border-color: @shade-color;
}


/* Hopefully, just button bar buttons */
GimpDock notebook widget box > box > button {
  background-image: url("../assets/toolbutton/toolbutton.png");
}

/* Cellview, external view of combobox */
cellview {
  background-image: url("../assets/cellview/cellview.png");
}

/* Entry for 'filter' */
GimpDock widget box box > entry {
  background-image: url("../assets/cellview/cellview.png");
}

/* Focus, progress bar */
GimpSpinScale progress:focus {
  background-image: url("../assets/cellview/cellview.png");
} 

GimpSpinScale progress {
  background-image: url("../assets/cellview/cellview.png");
}

/* Hover, the treeview items */
GimpDock treeview.view:not(:selected):hover {
  background-color:@mid-highest-color;
}

/* Selected layer row*/
GimpDock treeview.view :selected {
  color:               @fg-black-color;
  background-color: @mid-highest-hover-color;
}

/* Hover, highlighting on iconview */
iconview:not(:selected):hover {
  border-color: @fg-white-color;
}

/* Selected items highlighting, red for Gray theme! deals with gray brushes */
iconview:selected {
  border-color: @highlight-low-color;
}

/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  background-image: url("../assets/spinbutton/spinbutton.png");
}

/*** Indicate Where a Dragged Layer or Folder Would Be Dropped, Drag and Drop***/

/* In the item */
GimpDock treeview.view :drop(active) {
  border:          solid 4px;
  border-color: @light-higher-color;
}

/* Above the item */
GimpDock treeview.view :drop(active).before {
  border:                   none;
  border-top:         solid 3px;
  border-top-color: @light-higher-color;
}

/* Below the item */
GimpDock treeview.view :drop(active).after {
  border:                      none;
  border-bottom:         solid 3px;
  border-bottom-color: @light-higher-color;
}


/* Hopefully, just the curve view in dynamics */
GimpDock notebook notebook widget .view  {
  background-color: @light-higher-color;
}

