/*
* @ THEME ADJUSTMENTS GO IN HERE
*/

spinbutton    button,
GimpSpinScale button {
  border-radius: 0em;
}

GimpSpinScale entry,
spinbutton entry {
  border-top-right-radius:    0em;
  border-bottom-right-radius: 0em;
}

/* Buttons, - +, overrides */
spinbutton        button.up,
dialog spinbutton button.up,
GimpSpinScale     button.up {
  border-top-right-radius:    0.25em;
  border-bottom-right-radius: 0.25em;
}

