/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Default GUI font assignments for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/*
* @ BUTTONS
* @ COLOR SELECTOR
* @ DIALOG
* @ DOCKABLES
* @ FILE DIALOG
* @ FILTER DIALOG
* @ IMAGE BAR
* @ LAYER STACK
* @ MENU
* @ OVERLAY
* @ PANELS
* @ POPOVER
* @ RULER
* @ SCROLLBARS
* @ SLIDERS
* @ STATUS BAR
* @ TEXT EDITOR
* @ TOOLBOX
* @ TOOLTIPS
*/

/* Extra small      0.85em */
/* Small size       1.05em */
/* Normal size      1.1em */
/* Large size       1.15em */
/* Extra Large size 1.2em */

/* Scaling for font size is usually found in the OS Accessibility settings.
   Scale your fonts system wide using those settings before changing these.
   GIMP inherits those settings. The standard DPI settings are:

   100% (96 DPI)
   125% (120 DPI)
   150% (144 DPI)

   Finally, uncomment and tweak the number below to fit your setup and eyes */

/*  *{-gtk-dpi: 210;}  */


/* Default for all fonts  */
*{
  font-size:     1.0em;
  font-weight:   normal;
  font-style:    normal;
  text-shadow:     none;
  text-decoration: none;
}

/* Labels on a tab */
GimpDock tab label {
  font-size: 0.85em;
  font-weight: normal;
}

/* Layer naming */
GimpDock treeview entry {
  font-weight: normal;
}

/*** Indicate Where a Dragged Layer Would Be Dropped ***/

/* In the item */
GimpDock treeview :drop(active) {
  font-weight: normal;
}

/* How many items are selected, when icons are small it stops twitching at 0.5*/
GimpDock treeview.view header label,
GimpDock treeview.view header label selection {
  font-size:  0.85em;
  font-weight: bolder;
  font-style:  normal;
}

/* Hover */
menu menuitem:hover label {
  font-weight: normal;
}

/* Not hovering */
menu menuitem:not(:hover) label {
  font-weight: normal;
}

/* Shortcut key */
menu menuitem label:last-child {
  font-weight: 300;
}

/* Shortcut key override in GimpDocks */
GimpDock menu menuitem label:last-child {
  font-weight: normal;
}
