/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Default GUI color assignments for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/*
* @ BUTTONS
* @ COLOR SELECTOR
* @ DIALOG
* @ DOCKABLES
* @ FILE DIALOG
* @ FILTER DIALOG
* @ IMAGE BAR
* @ LAYER STACK
* @ MENU
* @ OVERLAY
* @ PANELS
* @ POPOVER
* @ RULER
* @ SCROLLBARS
* @ SLIDERS
* @ STATUS BAR
* @ TEXT EDITOR
* @ TOOLBOX
* @ TOOLTIPS
* @ INHERITED
*/


/* Start by removing all the default color settings inherited from Gtk */
*{
  border:                       none;
  outline:                      none;
  box-shadow:                   none;
  color:              @fg-dark-color;
  background-color: @light-low-color;
  background-image:             none;
  transition-duration:            0s;
  -gtk-icon-shadow:             none;
  -gtk-icon-effect:             none;
}
/* background-color catches a picked up layer */
/* color catches a folder icon in 'Save-image' */


/************************** BUTTONS **************************/

/* The image on a button, lower contrast when disabled */
button:disabled image,
tab:disabled    image {
  opacity:0.2;
}

/* The image on a button, lower contrast for hover effect */
button image,
tab    image {
  color:        @fg-black-color;
  opacity:                  0.7;
  background-color: transparent;
}

/* Helps the button bar 'Gray out' unavailable buttons */
button:disabled {
  opacity: 0.4;
}

/* Less contrast on tab labels */
GimpDock header tab label,
dialog header tab {
  color: @fg-dark-higher-color;
}

/* Buttons */
button {
  color:         @fg-dark-higher-color;
  background-color:    @mid-high-color;
  border:                    solid 2px;
  border-color:         @mid-low-color;
  background-clip:         padding-box;
  background-size:               cover;
  background-position:          center;
}

/* Tabs, need to be specific because of the image bar tabs */
GimpDock header tab,
dialog header tab,
GimpDock header button {
  color:         @fg-dark-higher-color;
  background-color:    @mid-high-color;
  border:                    solid 2px;
  border-color:         @mid-low-color;
  background-clip:         padding-box;
  background-size:           auto 100%;
  background-position:          center;
  background-image: url("../assets/tab/tab.png");
}

/* Hover, except for a checked one, contrast goes up */
button:not(:checked):hover,
GimpDock header tab:not(:checked):hover,
dialog header tab:not(:checked):hover {
  color:                   @fg-dark-color;
  background-color:     @mid-higher-color;
  border:                       solid 2px;
  border-color:              @shade-color;
}

/* Hover, checked button, has even higher contrast */
button:checked:hover,
GimpDock header tab:checked:hover,
dialog header tab:checked:hover {
  background-color: @mid-highest-hover-color;
  border:                          solid 2px;
  border-color:                 @light-color;
}

/* Clicked, highest contrast */
button:active:hover,
button:checked:active:hover,
GimpDock header tab:checked:active:hover,
dialog header tab:checked:active:hover {
  background-color: @mid-highest-hover-color;
  border:                          solid 2px;
  border-color:          @light-higher-color;
}

/* Checked button - on, higher contrast */
button:checked {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
}

/* Checked tab- on, higher contrast */
GimpDock header tab:checked,
dialog header tab:checked {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:      @light-high-color;
}


/*** Image on the Button ***/

/* Hover, not checked, image on button */
button:not(:checked):hover image,
tab:not(:checked):hover    image {
  opacity: 0.85;
}

/* Clicked, image on button */
button:active:hover image,
tab:active:hover    image,
button:checked:active:hover,
tab:checked:active:hover  {
  opacity: 1;
}

/* Checked, image on button */
button:checked image,
tab:checked    image {
  opacity: 0.9;
}

/* Hover checked button, image has highest contrast */
button:checked:hover image,
tab:checked:hover    image {
  color: @fg-dark-low-color;
  opacity:             0.95;
}


/*** Reload Button Override, No Unique Type, This Causes Several Problems ***/

dialog frame button {
  background-color: @light-low-color;
}

/* Seems to be in a permanent focus state once selected */
dialog frame button:focus:hover {
  background-color: @light-color;
}

/* Hover */
dialog frame button:not(:checked):hover {
  background-color: @light-color;
}

/* Hover combobox fix */
dialog frame combobox button:not(:checked):hover {
  background-color: transparent;
}

/* Clicked button, highest contrast */
dialog frame button:active:hover {
  background-color: @light-high-color;
}


/*** The Corner Buttons on the Canvas ***/

/* Making them the same color as the canvas */
GimpDisplayShell grid > button,
GimpDisplayShell grid > button.flat,
GimpDisplayShell grid > widget {
  background-color: @mid-color;
  border:                 none;
}


/*** Toolbutton ***/

/* Toolbutton and Action button texture */
toolbutton button,
buttonbox button {
  background-image: url("../assets/toolbutton/toolbutton.png");
}

/* Checked button - on, higher contrast */
toolbutton button:checked {
  background-image: url("../assets/toolbutton/toolbutton-checked.png");
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
}

/* Hover, higher contrast */
toolbutton button:not(:checked):hover {
  background-color: @mid-higher-color;
}

/* Hover, checked button, has even higher contrast */
toolbutton button:checked:hover {
  background-color: @mid-highest-hover-color;
  border:                          solid 2px;
  border-color:            @light-high-color;
}

/* Clicked, and Hover highest contrast */
toolbutton button:active:hover,
toolbutton button:checked:active:hover {
  background-color: @light-low-color;
  border:                  solid 2px;
  border-color: @fg-bright-low-color;
}

/* Hopefully, just button bar buttons */
GimpDock notebook widget box > box > button {
  background-image: url("../assets/toolbutton/toolbutton.png");
}


/*** Checkboxes ***/

/* Hide the row container */
checkbutton,
radiobutton {
  background-color: transparent;
}

check {
  background-color:   transparent;
  border:               solid 2px;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-unchecked.svg");
}

check:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

check:checked {
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked.svg");
}

check:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked-disabled.svg");
}

radio:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio {
  background-color:   transparent;
  border:               solid 2px;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/radiobutton/radio-unchecked.svg");
}

radio:checked {
  -gtk-icon-source: url("../assets/radiobutton/radio-checked.svg");
}

/* Hover */
check:hover,
radio:hover {
  background-color:  transparent;
  border-color: @light-color;
}

/* checked */
check:checked,
radio:checked {
  background-color:  transparent;
  border-color: @shade-lower-color;
}

/* Checked, label */
checkbutton:checked label,
check:checked       label,
radio:checked       label,
radiobutton:checked label {
  color: @fg-dark-low-color;
}


/*** Switch Button, Working in Preferences, not in extensions ***/

/* Also the image */
switch {
  background-color: transparent;
  border:                  none;
  background-size:         auto;
  background-repeat:  no-repeat;
  background-image: url("../assets/control-assets/switch-off.svg");
}

switch:checked {
  background-image: url("../assets/control-assets/switch-on.svg");
}

/* Child images , 0 and 1, this hides it in Preferences */
switch image {
  color: transparent;
}

/* Hide slider */
switch slider {
  background-color: transparent;
}


/*** Spinbuttons ***/

/* Spinbutton container font color, caret color */
spinbutton {
  color:             @fg-dark-color;
  border-color:      @mid-low-color;
  caret-color:         @caret-color;
}

/* Focus, font color */
spinbutton:focus {
  color: @fg-black-color;
}

/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  color:            @shade-higher-color;
  background-color: @mid-higher-color;
  border-color:     @mid-color;
  background-image: url("../assets/spinbutton/spinbutton.png");
}

/* Hover, overrides */
spinbutton        button:not(:checked):hover,
dialog spinbutton button:not(:checked):hover,
GimpSpinScale     button:not(:checked):hover {
  color:                 @shade-higher-color;
  background-color: @mid-highest-hover-color;
  border-color:            @shade-high-color;
}

/* Focus, overrides */
spinbutton        button:focus,
dialog spinbutton button:focus,
GimpSpinScale     button:focus {
  color:                  @shade-color;
  background-color: @mid-highest-color;
  border-color:           @shade-color;
}

/* Focus and Hover */
spinbutton        button:focus:hover,
dialog spinbutton button:focus:hover,
GimpSpinScale     button:focus:hover {
  color:                   @shade-high-color;
  background-color: @mid-highest-hover-color;
  border-color:             @shade-low-color;
}

/* Holding down */
spinbutton        button:active,
dialog spinbutton button:active,
GimpSpinScale     button:active {
  color:          @shade-lower-color;
  background-color: @light-low-color;
  border-color:   @shade-lower-color;
}


/*** Combobox, Dropdown, Pop-Up Menus, after Reload Button ***/

/* Hide containers */
combobox,
combobox box,
combobox button {
  background-color: transparent;
  border-color:     transparent;
  border: none;
}

/* Hover, override */
combobox button:not(:checked):hover {
  background-color: transparent;
  border-color:     transparent;
  border:                  none;
}

/* Checked, override */
combobox button:checked {
  background-color: transparent;
  border-color:     transparent;
  border: none;
}

/* Oddball "Swap Compression" cell background color in Preferences */
combobox entry {
  background-color: @mid-highest-color;
}


/*** Reset and Link Button Overrides ***/

/* Button */
GimpDock widget viewport box box box button.flat {
  color:        @fg-dark-higher-color;
  background-color: @mid-higher-color;
  border:                   solid 2px;
  border-color:        @mid-low-color;
  opacity:                        0.8;
}

/* Hover, except for the selected one, contrast goes up */
GimpDock widget viewport box box box button.flat:not(:checked):hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:         @mid-low-color;
  opacity:                         0.9;
}

/* Hover, checked button, has even higher contrast */
GimpDock widget viewport box box box button.flat:checked:hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:           @light-color;
  opacity:                           1;
}

/* Clicked, highest contrast */
GimpDock widget viewport box box box button.flat:active:hover,
GimpDock widget viewport box box box button.flat:checked:active:hover {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:    @light-higher-color;
  opacity:                           1;
}

/* Checked - on, higher contrast */
GimpDock widget viewport box box box button.flat:checked {
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:      @light-high-color;
  opacity:                        0.95;
}




/*** Entry Boxes, Text and Number Input ***/

/* User can enter data, color is border color on spinbuttons, font otherwise */
entry {
  color:         @fg-dark-higher-color;
  background-color: @mid-highest-color;
  border:                    solid 2px;
  border-color:         @mid-low-color;
  caret-color:            @caret-color;
}

/* Workaround for color is border color on spinbuttons */
spinbutton entry {
  color:     @shade-high-color;
  border:            solid 2px;
  border-color: @mid-low-color;
}

/* Focus, user can enter data, color has no effect on spinbuttons */
entry:focus {
  color:                @fg-dark-color;
  background-color:   @light-low-color;
  border-color:     @shade-lower-color;
  caret-color:            @caret-color;
}

/* Turns off a 1 pixel theme colored box around a slider */
entry:focus {
  box-shadow: none;
}

/* Highlighting the selected text */
entry selection {
  color:            @fg-black-color;
  background-color: @mid-higher-color;
}


/*** All Images, usually on a button ***/
image,
toolbutton image,
button image,
tab image {
  color:        @fg-black-color;
  background-color: transparent;
}


/*** All Labels ***/
label {
  color:             @fg-dark-color;
  background-color:     transparent;
  caret-color:         @caret-color;
}

/* Gray out for not available or unchecked */
label:disabled {
  color: @disabled-color;
}

/* Less contrast for checkbox labels */
checkbutton label,
radiobutton label {
  color: @fg-dark-higher-color;
}

/* Hover, checkboxes */
checkbutton:hover label,
radiobutton:hover label {
  color: @fg-dark-color;
}


/*** Special Case ***/

/* The "suggested" action, e.g anchor a layer mask after pasting into it */
button.suggested-action {
  background-color: @highlight-color;
  border:                  solid 2px;
  border-color: @highlight-low-color;
  opacity:                         1;
}

/* The active button of a dialog, what happens when you hit enter */
button.default {
  background-color: @mid-highest-hover-color;
  border-color:                 @fg-bright-high-color;
}

/* Hover */
button.default:hover {
  background-color: @light-color;
  border-color: @shade-low-color;
}

/* Widgets, often like a button */
widget {
  color:    @fg-dark-high-color;
  background-color: transparent;
  border:             solid 2px;
  border-color:     transparent;
}

/* Widget labels */
widget label {
  color:    @fg-dark-high-color;
  background-color: transparent;
}

/* One of a kind in the scale transform, aspect ratio button */
GimpOverlayDialog grid > button:not(:checked):hover {
  border: 2px;
}

/* Hopefully, just button bar buttons */
GimpDock notebook widget box > box > button {
  /*   background-color: red; */
}


/*** Image Bar Tab Widgets, Contrast on Images */

/* Low contrast by default */
tab widget {
  opacity: 0.5;
}

/* Hover */
tab:not(:checked):hover widget {
  opacity: 0.75;
}

/* Selected */
tab:checked widget {
  opacity: 1;
}




/************************** COLOR SELECTOR **************************/

/* Background around color selector */
GimpColorNotebook notebook {
  background-color: transparent;
}

/* Background around tabs */
GimpColorNotebook header {
  background-color: transparent;
}

/* Background to tabs */
GimpColorNotebook notebook tabs {
  background-color: transparent;
}

/* Color history squares */
GimpColorHistory button {
  border-color: transparent;
}

GimpColorHistory button:not(:checked):hover {
  border-color: @dark-color;
}

/* Color select sliders, border controls width */
GimpColorScale trough {
  border: solid 6px;
}




/************************** DIALOG **************************/

/* Action area of a dialog, usually Help and OK buttons */
actionbar {
  color:         @fg-dark-color;
  background-color: transparent;
  border:                  none;
}

/* Background */
dialog.background {
  background-color: @mid-high-color;
}

/* A frame area for a viewport in the dialog */
dialog viewport {
  background-color: @mid-higher-color;
  border:                        none;
}

/* Scrolled window borders */
dialog scrolledwindow {
  border:               solid 2px;
  border-color: @shade-high-color;
}

/* Header widget border */
dialog widget {
  border-color: @shade-high-color;
}

/* Header background for dialogs,'Edit Palette color' 'Create a New Layer'*/
dialog box frame border {
  background-color:  @light-color;
  border:               solid 2px;
  border-color: @shade-high-color;
}

/* Backdrop */
dialog box frame border:backdrop {
  border:                    solid 2px;
  border-color:         @mid-low-color;
  background-color: @mid-highest-color;
}

/* Header background color in Preferences*/
dialog box widget {
  background-color: @light-low-color;
}

/* Background to the places to set options */
dialog.background scrolledwindow {
  background-color: @mid-higher-color;
}

/* Background to 'Tools Configuration' */
dialog.background viewport scrolledwindow {
  background-color: @mid-high-color;
}

/* Color the treeview items, the places to set options */
dialog treeview.view:not(:selected) {
  color: @fg-dark-high-color;
}

/* Selected, the treeview items */
dialog treeview.view :selected {
  color:             @fg-black-color;
  background-color: @light-low-color;
}

/* Hover, the treeview items */
dialog treeview.view:not(:selected):hover {
  color:            @fg-dark-low-color;
  background-color: @mid-highest-color;
}


/*** The List of Locations in Preferences ***/

/* Background to rows of locations */
dialog row {
  background-color: @mid-high-color;
  border:                      none;
}

/* The list of locations labels */
dialog row label {
  color: @fg-dark-higher-color;
}

/* Hover, label */
dialog row:hover label {
  color: @fg-dark-color;
}

/* Selected, label */
dialog row:selected label {
  color: @fg-black-color;
}

/* Behind the rows of locations */
dialog list {
  background-color: transparent;
}

/* Hover, row */
dialog list :hover {
  color:                   @fg-dark-color;
  background-color: @mid-high-hover-color;
}

/* Selected, row */
dialog list :selected {
  color:             @fg-black-color;
  background-color: @light-low-color;
}

/* Dimmed locations in 'Theme' selection */
dialog .dim-label {
  color:         @fg-dark-color;
  background-color: transparent;
  opacity:                  0.5;
}

/* Hover, dimmed locations in 'Theme' selection */
dialog :hover .dim-label,
dialog :selected .dim-label {
  color:         @fg-dark-color;
  background-color: transparent;
  opacity:                    1;
}

/* Specific trough color*/
dialog scrollbar trough {
  border:                      none;
  border-left:            solid 1px;
  border-color: @shade-higher-color;
}


/*** Places Sidebar, The Operating System List of Locations ***/

/* Widgets for selecting places */
dialog placessidebar widget {
  border: none;
}

/* Container */
dialog placessidebar list {
  background-color: @mid-color;
  border: none;
}

/* Window in the container */
dialog placessidebar viewport {
  border:                    none;
  border-top:           solid 1px;
  border-bottom:        solid 1px;
  border-color: @shade-high-color;
}

/* Each row of the places list */
dialog placessidebar list row {
  background-color: @mid-color;
}

/* Each widget in the places list, the panel behind the label */
dialog placessidebar row widget {
  background-color: @mid-color;
}

/* Hover, Each row the OS places list */
dialog placessidebar row:hover revealer widget {
  background-color: @mid-high-color;
}

/* Selected, Each row the OS places list */
dialog placessidebar row:selected revealer widget {
  background-color: @light-low-color;
}

/* Hover or selected, Each box label in the OS places list */
dialog placessidebar row:hover revealer widget label,
dialog placessidebar row:selected revealer widget label {
  color: @fg-black-color;
}

/* The vertical, (smaller horizontal) panel separator between OS places */
dialog filechooser paned list separator {
  background-color: @shade-high-color;
  border:                   solid 2px;
  border-color:          @shade-color;
  background-image:              none;
}


/*** Hacks. depends on background color ***/

/* Not sure why, but this was needed, combobox button was already overrided */
dialog combobox button,
popover combobox button {
  background-color: transparent;
}

/* Also, fix flashing box in a dialog, 'Scale Image' */
dialog combobox button:hover box {
  background-color: @mid-high-color;
}

/* Also, fix flashing box in a dialog, 'Soft-Proofing' */
popover combobox button:hover box {
  background-color: @mid-higher-color;
}

/* Also, fix flashing button in a Popover, 'Soft-proofing' */
popover combobox button:checked {
  background-color: transparent;
}

/* Also, tweak Popover, 'Soft-proofing' highlighting */
popover combobox cellview:hover {
  background-color: @mid-highest-color;
}

/* Also, fix flashing box in a dialog, 'Advanced options, create a new image' */
dialog viewport grid combobox button:hover box {
  background-color: @mid-higher-color;
}

/* Also, Hopefully a particular path to Fix flashing combobox box */
dialog stack viewport combobox button:hover box {
  background-color: @mid-higher-color;
}

/* Hopefully a particular path for a cellview */
dialog stack viewport combobox cellview:hover  {
  background-color: @mid-highest-color;
}

/* Modifiers fix */
dialog stack viewport row {
  background-color: @mid-higher-color;
}




/************************** DOCKABLES **************************/

/* Panel window */
GimpDock viewport {
  border: none;
}

/* Lowers contrast on dockable widgets, white brush backgrounds are harsh */
GimpDock viewport button widget {
  opacity: 0.7;
}

/* Hacky way of getting to widgets for highlighting */
GimpDock viewport button {
  opacity: 0.85;
}

/* Panel window scrolled edges */
GimpDock paned scrolledwindow {
  background-color: transparent;
}

/* By setting this, we can isolate the "Image bar" tabs header */
GimpDock header tabs {
  background-color: transparent;
}

/* Hide a one pixel line */
GimpDock stack {
  background-color: transparent;
}

/* Header behind tabs in dockables, and image bar panel */
GimpDock header {
  background-color: transparent;
}

/* Hide the tabs panel */
GimpDock tabs {
  background-color: transparent;
}

/* Behind stuff */
GimpDock notebook {
  background-color: @mid-high-color;
}

/* Hopefully, just the curve view in dynamics */
GimpDock notebook notebook widget .view  {
  background-color: @mid-low-color;
}

/* Override header button, configure this tab */
GimpDock header button {
  border-color: @mid-color;
}

GimpDock header button:not(:checked):hover {
  border-color: @mid-low-color;
}

/* Horrible large warning image in error message dockable */
GimpDock textview image {
  opacity: 0.4;
}

/* Labels At Top of a Dockable */
GimpDock stack widget box label {
  color: @fg-dark-high-color;
}

/* Trough */
GimpDock scrollbar trough {
  background:     @mid-high-color;
  border:                    none;
}

/* Slider */
GimpDock scrollbar slider {
  background:   @light-low-color;
  border:              solid 1px;
  border-color: @shade-low-color;
}

/* Slider */
GimpDock scrollbar slider:disabled {
  background:   @disabled_color;
  border:       none;
  border-color: @disabled_color;
}

/* Hover */
GimpDock scrollbar slider:hover {
  background: @light-low-hover-color;
  border-color:   @shade-lower-color;
}

/* Grabbed */
GimpDock scrollbar slider:hover:active {
  background:         @light-color;
  border-color: @shade-lower-color;
}

/* Override widget label for checkboxes */
GimpDock paned widget checkbutton label,
GimpDock paned widget radiobutton label {
  color: @fg-dark-higher-color;
}

/* Hover, checkboxes */
GimpDock paned widget checkbutton:hover label,
GimpDock paned widget radiobutton:hover label {
  color: @fg-dark-color;
}

/* For dropdown menu (e.g. selecting dynamics or a brush in tool presets */
scrolledwindow .view {
  background-color: @mid-higher-color;
}

/* Hover, dropdown menu */
scrolledwindow .view:hover {
  background-color: @mid-highest-color;
}

/* Entry for 'filter' */
GimpDock widget box box > entry {
  color:     @fg-dark-higher-color;
  background-color: @mid-high-color;
  border:                 solid 2px;
  border-color:      @mid-low-color;
  background-clip:      padding-box;
  background-size:        auto 100%;
  background-position:       center;
  background-image: url("../assets/cellview/cellview.png");
}

/* A particular button path to catch 'widget' buttons in the docks, combobox */
GimpDock viewport button {
  border: solid 2px;
}

/* Hover override' */
GimpDock viewport > button:not(:checked):hover {
  opacity:                   1;
  background-color: transparent;
  border: solid 2px;
}

GimpDock viewport combobox button {
  border: none; /* Or reset to the default style */
}

/************************** FILE DIALOG **************************/

/*Revealer, Quick Directory Selection, Reveals the Current Path */

/* Around places sidebar */
GimpFileDialog viewport {
  border: none;
}

/* Container for the 'Revealer' */
GimpFileDialog revealer stack {
  background-color:      @mid-color;
  border:                 solid 1px;
  border-color: @shade-higher-color;
  border-right-color:   transparent;
}


/*** Scroll Bars and Separator ***/

GimpFileDialog scrollbar slider {
  border: solid 1px;
}

GimpFileDialog scrollbar trough {
  border:           none;
  border-left: solid 1px;
}

/* The vertical, (smaller horizontal) panel separator between OS places */
GimpFileDialog filechooser paned list separator {
  background-color: @shade-high-color;
  border:                   solid 2px;
  border-color:          @shade-color;
  background-image:              none;
}

/* Override default color */
GimpFileDialog paned.horizontal > separator{
  background-color: @mid-color;
}


/*** Places Sidebar, The Operating System List of Locations ***/

/* Container */
GimpFileDialog placessidebar list {
  background-color:   @mid-color;
  border-color: @shade-low-color;
}

/* Window in the container */
GimpFileDialog placessidebar viewport {
  border:                    none;
  border-top:           solid 1px;
  border-bottom:        solid 1px;
  border-color: @shade-high-color;
}

/* Each row of the places list */
GimpFileDialog placessidebar list row {
  background-color: @mid-color;
}

/* Each widget in the places list, the panel behind the label */
GimpFileDialog placessidebar row widget {
  background-color: @mid-color;
}

/* Hover, Each row the OS places list */
GimpFileDialog placessidebar row:hover revealer widget {
  background-color: @mid-high-color;
}

/* Selected, Each row the OS places list */
GimpFileDialog placessidebar row:selected revealer widget {
  background-color: @light-low-color;
}

/* Hover or selected, Each box label in the OS places list */
GimpFileDialog placessidebar row:hover revealer widget label,
GimpFileDialog placessidebar row:selected revealer widget label {
  color: @fg-black-color;
}


/*** The 'Preview' Section ***/

/* Clumsy inner area */
GimpFileDialog treeview widget box box {
  border: none;
}

/* Background - Preview Area, not a unique selection path */
GimpFileDialog paned .vertical {
  background-color: @mid-color;
}

/* Preview Area, divider line */
GimpFileDialog treeview widget box {
  border-bottom:                 1px solid;
  border-bottom-color: @shade-higher-color;
}

/* The "Preview" header box button in File Dialog */
GimpFileDialog treeview widget header button {
  background-color: @mid-color;
  border:                 none;
}

/* The "Preview" header box button label in File Dialog */
GimpFileDialog treeview widget header button label {
  background-color: @mid-color;
}


/*** File Selection, a Treeview ***/

/* The scrolled window for locations and 'Select File Type'*/
GimpFileDialog scrolledwindow {
  border:                 solid 1px;
  border-color: @shade-higher-color;
}

/* Corner square */
GimpFileDialog box box scrolledwindow {
  background-color: @mid-color;
}

/* Name, Size, Type buttons */
GimpFileDialog treeview header button,
GimpFileDialog expander treeview button  {
  background-color:    @mid-color;
  border:                    none;
  border-right:         solid 1px;
  border-bottom:        solid 1px;
  border-color: @shade-high-color;
}

/* Hover */
GimpFileDialog treeview.view header button:hover,
GimpFileDialog expander treeview button:hover  {
  background-color: @mid-higher-color;
  border:                        none;
  border-right:             solid 1px;
  border-bottom:            solid 1px;
  border-color:     @shade-high-color;
}

/* Clicked */
GimpFileDialog treeview.view header button:active,
GimpFileDialog expander treeview button:active {
  background-color: @mid-highest-color;
  border-color:      @shade-high-color;
}

/* Background behind the files */
GimpFileDialog .view {
  background-color: @mid-high-color;
}

/* Font color, row color */
GimpFileDialog treeview.view {
  color:             @fg-dark-color;
  background-color: @mid-high-color;
}

/* Hover, over a file row */
GimpFileDialog treeview.view:not(:selected):hover {
  color:                  @fg-black-color;
  background-color: @mid-high-hover-color;
}

/* Selected, file */
GimpFileDialog treeview.view :selected {
  color:              @fg-black-color;
  background-color:  @light-low-color;
}

/* Show all area */
GimpFileDialog actionbar {
  background-color: @mid-color;
}

/* Several vertical background elements */
GimpFileDialog :not(separator).vertical > box {
  background-color: @mid-color;
}

/* Needed it's own color */
GimpFileDialog scrollbar trough {
  background:      @mid-low-color;
  border-color: @shade-high-color;
}

GimpFileDialog scrollbar slider {
  border-color: @shade-low-color;
}

/* Margin between inner viewport and container */
dialog scrolledwindow viewport viewport {
  border: none;
}




/************************** FILTER DIALOG **************************/

/* A window area, sometimes not */
GimpToolDialog viewport {
  border: none;
}

/* The G icon in a filter dialog*/
GimpToolDialog box frame box image {
  color:    @fg-dark-high-color;
  background-color: transparent;
}

/* Behind the document name */
GimpToolDialog box frame box scrolledwindow  {
  background-color: transparent;
}

/* Edge to dialog */
GimpToolDialog .dialog-vbox {
  border-color: @shade-low-color;
}

/* Header background for the filter and image name, behind curves and gradients */
GimpToolDialog frame border {
  color:        @fg-dark-high-color;
  background-color:    @light-color;
  border:                 solid 2px;
  border-color: @shade-higher-color;
}

/* Backdrop */
GimpToolDialog frame border:backdrop {
  background-color: @mid-higher-color;
}

/* Curves Graph Widget, Adjust Color Curves, Levels */
GimpToolDialog frame frame widget {
  color:           @fg-dark-low-color;
  background-color: @mid-higher-color;
}

/* Curves Graph Widget, Adjust Color Curves, Levels */
GimpToolDialog frame frame widget:backdrop {
  color:           @fg-dark-low-color;
  background-color: @mid-higher-color;
  border:                      none;
  border-color: @shade-higher-color;
}
/* Expanding sections */
GimpToolDialog expander {
  background-color: transparent;
}




/************************** IMAGE BAR **************************/

/* Tabs area */
header tabs {
  background-color: @mid-high-color;
}

/* Each tab has an image preview */
header tab {
  background-color:     transparent;
  border:                 solid 1px;
  border-color:      @mid-low-color;
}

/* Hover, tab */
header tab:not(:checked):hover {
  background-color: @mid-higher-color;
  border:                  solid 1px;
  border-color:     @shade-high-color;
}

/* Checked, active image */
header tab:checked {
  background-color: @light-color;
  border:              solid 1px;
  border-color:   @shade-low-color;
}

/* Override tab button (x) on image bar */
header tab button,
header tab button:not(:checked):hover {
  background-color: transparent;
  border:                  none;
  border-color:      @mid-color;
}

/* Hover, (x) icon goes red */
header tab button:not(:checked):hover image {
  color: @highlight-low-color;
}




/**************************  LAYER STACK **************************/

/* Hide Layer Mode combobox arrows*/
GimpDock combobox box box arrow {
/*   color:            transparent;
  background-color: transparent; */
} 

/* Background */
GimpDock treeview.view {
  color:      @fg-dark-higher-color;
  background-color: @mid-high-color;
  border:               transparent;
}

/* Hover behavior on layers */
GimpDock treeview.view:not(:selected):hover {
  color:               @fg-dark-low-color;
  background-color: @mid-high-hover-color;
}

/* Selected layer row*/
GimpDock treeview.view :selected {
  color:               @fg-black-color;
  background-color: @mid-highest-color;
}

/* Layer naming */
GimpDock treeview.view entry {
  border: none;
}

/* Layer naming */
GimpDock treeview.view entry:focus {
  color:         @fg-black-color;
  background-color: @light-color;
}

/* Text highlighting */
GimpDock treeview.view entry selection {
  color:           @fg-dark-low-color;
  background-color: @mid-higher-color;
}


/*** Indicate Where a Dragged Layer or Folder Would Be Dropped, Drag and Drop***/

/* In the item */
GimpDock treeview.view :drop(active) {
  border:          solid 2px;
  border-color: @light-color;
}

/* Above the item */
GimpDock treeview.view :drop(active).before {
  border:                   none;
  border-top:         dotted 2px;
  border-top-color: @light-color;
}

/* Below the item */
GimpDock treeview.view :drop(active).after {
  border:                      none;
  border-bottom:         dotted 2px;
  border-bottom-color: @light-color;
}


/*** Layer Groups ***/

/* Arrows that expand or collapse a folder */
GimpDock treeview.view.expander {
  color: @shade-color;
}

/* Selected, layer */
GimpDock treeview.view.expander:selected {
  color: @fg-dark-color;
}

/* Expanded */
GimpDock treeview.view.expander:checked {
  color: @fg-black-color;
}


/*** Padlock and Visibility Column Icons above Layer Stack ***/

/* Underline divider */
GimpDock treeview header box {
  border-bottom:            solid 2px;
  border-bottom-color: @mid-low-color;
}

/* Lower Opacity */
GimpDock treeview header button {
  border:  none;
  opacity: 0.75;
  background-image: none;
}

/* How many items are selected */
GimpDock treeview.view header label,
GimpDock treeview.view header label selection {
  color:         @fg-dark-color;
  background-color: transparent;
}

/* fix searchbox twitch */
GimpDock treeview.view header button:hover {
  border-width: 0;
}


/*** Visibility Buttons in the Layer Stack ***/

/* Dotted line boxes to indicate a layer option */
GimpDock treeview .toggle-icon:not(.visible):hover {
  color:        @fg-dark-color;
  border:           dotted 2px;
  border-color: @mid-low-color;
}

/* Selected Hover,*/
GimpDock treeview .toggle-icon:not(.visible):selected:hover {
  border:       dotted 2px;
  border-color: @mid-color;
}




/************************** MENU **************************/

/* Note: Hovering over a menu item means that all the children
         of that menu, the menuitems, inherit the hover color */

/* An effect to show more scrollable content in the window */
overshoot.top,
undershoot.top {
  background-clip: padding-box;
  background-size:     contain;
  background-position:  center;
  background-repeat:  repeat-x;
  background-image: url("../assets/overshoot/overshoot-top.png");
}

overshoot.bottom,
undershoot.bottom {
  background-clip: padding-box;
  background-size:     contain;
  background-position:  center;
  background-repeat:  repeat-x;
  background-image: url("../assets/overshoot/overshoot-bottom.png");
}

overshoot.left,
undershoot.left {
  background-clip: padding-box;
  background-size:     contain;
  background-position:  center;
  background-repeat:  repeat-y;
  background-image: url("../assets/overshoot/overshoot-left.png");
}

overshoot.right,
undershoot.right {
  background-clip: padding-box;
  background-size:     contain;
  background-position:  center;
  background-repeat:  repeat-y;
  background-image: url("../assets/overshoot/overshoot-right.png");
}

/* Almost gets rid of a few pixels around the rounded corners */
menuitem .background {
  background-color: @shade-high-color;
}

/* All menus, the panel color */
menu {
  background:     @mid-high-color;
  border:               solid 4px;
  border-color: @shade-high-color;
}

/* Items in the top menu, File, Edit, Select... */
menubar menuitem {
  background-color: transparent;
}

/* Item labels in the top menu */
menubar menuitem label {
  color: @fg-dark-color;
}

/* Hover, a menu item */
menuitem:hover {
  background: @mid-higher-color;
}

/* Sub menu items*/
menu menuitem {
  background: transparent;
}

/* Sub menu label */
menu menuitem label {
  color: @fg-dark-color;
}

/* Hover, sub menu label */
menu menuitem:hover label  {
  color: @fg-black-color;
}

menu menuitem:disabled label {
  color: @disabled-color;
}

/* Shortcut key */
menu menuitem label:last-child {
  color: @fg-black-color;
}

/* That horizontal dividing line between menu sections */
menu separator {
  background-color:  @mid-color;
  border:             solid 2px;
  border-color:  @mid-low-color;
  background-image:        none;
}

/* That horizontal dividing line between menu sections in a combobox menu */
combobox menu separator {
  background-color: @mid-color;
  border:            solid 2px;
  border-color: @mid-low-color;
  background-image:       none;
}

/* Expanding sections have a title */
title {
  background-color:transparent;
}


/*** Document Title Header ***/

/* Document title box, padding for min, max and close app */
headerbar {
  background-color: @mid-high-color;
}

/* Title bar, active document name */
headerbar .title {
  color: @fg-dark-color;
  background-color: transparent;
}

/* Overrides on header bar buttons, minimise, maximise and close */
headerbar button {
  background-color: @mid-higher-color;
  border:                   solid 2px;
  border-color:          @shade-color;
  opacity:                          1;
}

/* Hover */
headerbar button:not(:checked):hover {
  background:       @light-low-color;
  border-color: @highlight-low-color;
}

/* Clicked, highest contrast */
headerbar button:active:hover {
  border-color: @highlight-color;
}

/* Give the menu bar a background color */
menubar {
  background-color: @mid-high-color;
}


/*** Backdrop - App or Dialog Not Active ***/

/* Menu bar, odd double header needed */
headerbar:backdrop,
headerbar :backdrop {
  background-color: @mid-low-color;
}

/* Min, Max and Close */
headerbar button :backdrop {
  background-color: transparent;
}

/* Title bar, active document name */
headerbar .title:backdrop {
   color: @mid-high-color;
}

/* Labels */
menubar label:backdrop {
  color: @shade-low-color;
  background-color: @mid-low-color;
}
menubar:backdrop {
  background-color: @mid-low-color;
}

menubar:backdrop
menubar :backdrop {
 /*  color: @mid-low-color; */
  background-color: @mid-low-color;
}


/*** Combobox Dropdown Menu ***/

/* Cellview, external view of combobox */
cellview {
  color:         @fg-dark-low-color;
  background-color: @mid-high-color;
  border:                 solid 2px;
  border-color:      @mid-low-color;
  background-clip:      padding-box;
  background-size:        auto 100%;
  background-position:       center;
  background-image: url("../assets/cellview/cellview.png");
  opacity:                      0.9;
}

/* Hover, cellview, softly, just nudge the opacity */
cellview:hover {
  color:            @fg-black-color;
  background-color: @mid-high-color;
  opacity:                        1;
}

/* Panel of the drop down menu */
combobox menu {
  background-color: @mid-higher-color;
  border:                   solid 4px;
  border-color:          @shade-color;
}

/* Items in the drop down menu */
combobox menuitem {
  background-color: transparent;
}

/* Cells in the drop down menu */
combobox menuitem cellview {
  color:    @fg-dark-high-color;
  background-color: transparent;
  border:                  none;
  background-image:        none;
}

/* Hover, on the items in the drop down menu */
combobox menuitem:hover {
  color:               @fg-black-color;
  background-color: @mid-highest-hover-color;
}


/*** Arrows ***/

/* All expansion arrows */
arrow {
  color: @shade-high-color;
  background:  transparent;
}

/* All expansion arrows */
arrow:hover {
  color:  @fg-black-color;
  background: transparent;
}

/* Expansion areas in dialogs, e.g Advanced Options */
expander {
  color:         @fg-dark-color;
  background-color: transparent;
}


/*** Iconview, View as Grid ***/

/* The grid of images in "View as Grid" */
iconview {
  background-color: @mid-color;
  border:            solid 2px;
  border-color:    transparent;
  opacity:                 0.7;
}

/* Hover, highlighting on iconview */
iconview:not(:selected):hover {
  border-color: @fg-bright-color;
}

/* Selected items highlighting, red for Gray theme! deals with gray brushes */
iconview:selected {
  border-color: @highlight-low-color;
}

/* More to see effects in a scrolled window */
overshoot,
undershoot {
  background: none;
}

/* Inside a 'filter' menu, and iconview, needs a better */
widget {
  background-color: @mid-high-color;
}

/* Inside and behind a 'filter' and iconview, needs a better path */
widget .view {
  background-color: transparent;
}

/* Selected filter widget */
widget .view:selected {
  background-color: @highlight-color;
}




/************************** OVERLAY **************************/

/*** Color Picker Info, Transform ***/

/* Background panel */
GimpOverlayDialog.background {
  background-color: @mid-high-color;
  border:                 solid 2px;
  border-color:   @shade-high-color;
}




/************************** PANELS **************************/

/* Canvas, mid gray */
GimpDisplayShell {
  background-color: @canvas-color;
  border:                    none;
  color:        @shade-high-color;
}


/* For a hard border between canvas and UI, between image bar and canvas */
GimpDisplayShell grid {
  border:                    none;
  border-color: @shade-high-color;
}

/* The final background to various panels and dialogs */
.background {
  background-color: @mid-high-color;
  border:                      none;
  background-image:            none;
}

/* box-shadow:
   [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];
*/

decoration {
  box-shadow: 0px 0px 4px 4px @box-shadow-color;
}

/* When the item is not focused, backdrop changes */
decoration:backdrop {
  box-shadow: 0px 0px 0px 0px @box-shadow-backdrop-color;
}

/* Background to Dockables */
GimpDock viewport {
  background-color: transparent;
}

/* Background element */
stack {
  background-color: transparent;
}

/* A frame around stuff */
frame {
  background-color: transparent;
  border-color:     transparent;
}

/* Toolbar spacing */
toolbar separator {
  color:              @fg-dark-color;
  background-color: @shade-low-color;
  border:                  solid 1px;
  border-color:     @shade-low-color;
}

/* Identify vertical and horizontal background elements */
:not(separator).vertical,
:not(separator).horizontal {
  background-color:transparent;
}

/* Edge to dialogs, had to go below the above :not(separator) */
GimpFileDialog .dialog-vbox {
  background-color: @mid-color;
}

/* Edge to dialogs */
.dialog-vbox {
  border:              solid 2px;
  border-color: @shade-low-color;
}

/* Panel background for a scrolled window in a dialog or dockable */
scrolledwindow {
  background: @mid-high-color;
}

/* Some panels have windows within called viewports */
viewport {
  background-color: @mid-mid-high-color;
  border:               solid 2px;
  border-color: @shade-high-color;
}

/* Window in a window, e.g Advanced options in Default Image */
viewport viewport {
  color:             @fg-dark-color;
  background-color: @mid-high-color;
}


/*** Separators ***/

paned.horizontal > separator {
  background-color: @seperator-color;
  border-style:                 none;
  background-size:            0.25em;
  background-position:        center;
  background-repeat:       no-repeat;
  background-image: url("../assets/separators/separator-handle.svg");
  transition-delay: 0.05s;
}

paned.vertical > separator {
  background-color: @seperator-color;
  border-style:                 none;
  background-size:               1em;
  background-position:        center;
  background-repeat:       no-repeat;
  border-image-source: none;
  background-image: url("../assets/separators/separator-handle-v.svg");
  transition-delay: 0.05s;
}

/* Hover effect */
paned.horizontal > separator:hover,
paned.vertical > separator:hover {
  background-color: @seperator-hover-color;
}




/************************** POPOVER **************************/

/* Popovers -Text Tool, Linked Sets, Layer Locks */

/*- panel color, higher than other panels */
popover.background {
  background-color: @mid-higher-color;
  border:                   solid 4px;
  border-color:      @shade-low-color;
}

/* Popup menu, right-click external drives - File dialog */
popover modelbutton {
  color:         @fg-dark-color;
  background-color: transparent;
}

/* Layer locks */
popover button {
  background-color: @mid-higher-color;
  opacity:                       0.85;
}

/* Hover  */
popover button:not(:checked):hover {
  background-color: @light-low-hover-color;
  border-color:           @shade-low-color;
  opacity:                            0.95;
}

/* Clicked, highest contrast */
popover button:active:hover {
  background-color: @light-higher-color;
  border-color:   @fg-bright-high-color;
  opacity:                            1;
}

/* Checked, Layer locks */
popover button:checked {
  background-color: @light-high-color;
  border-color:      @fg-bright-color;
  opacity:                       0.95;
}

/* Checked, Clicked Layer locks */
popover button:checked:active:hover {
  background-color: @light-high-color;
  border-color:      @fg-bright-color;
  opacity:                          1;
}

/* Checked Hover */
popover button:checked:hover {
  background-color: @light-high-color;
  border-color:  @fg-bright-low-color;
  opacity:                          1;
}

/* Hide search outer boxes */
popover list {
  background-color: transparent;
}

/* container around each row */
popover row {
  background-color: transparent;
}

/* Inner container around each row */
popover widget {
  background-color: transparent;
}

/* Grid inside inner container around each row */
popover grid grid {
  background-color: transparent;
}

/* Grid separator, see 'Soft-proofing' widget on status bar */
popover grid separator {
  border:                 solid 2px;
  background-color:      @mid-color;
  border-color: @shade-higher-color;
}



/************************** RULER **************************/

GimpRuler {
  color:      @fg-dark-higher-color;
  background-color: @mid-high-color;
  border:                 solid 1px;
  border-color:    @shade-low-color;
}



/************************** SCROLLBARS **************************/

/* Trough */
scrollbar trough {
  background:      @mid-low-color;
  border:               solid 2px;
  border-color: @shade-high-color;
}

/* Slider */
scrollbar slider {
  background:   @light-low-color;
  border:              solid 1px;
  border-color: @shade-low-color;
}

scrollbar slider:hover {
  background: @light-low-hover-color;
  border-color:   @shade-lower-color;
}

scrollbar slider:hover:active {
  background:         @light-color;
  border-color: @shade-lower-color;
}




/************************** SLIDERS **************************/

/*** Opacity and tools style ***/

/* Slider container, slider overlayed font*/
GimpSpinScale {
  color:   @fg-dark-higher-color;
  background-color:  transparent;
}

/* Focus, focus font color, caret color */
GimpSpinScale:focus {
  color:          @fg-dark-color;
}

/* Slider trough */
GimpSpinScale entry {
  background-color:      @mid-color;
  border:                 solid 2px;
  border-color: @shade-higher-color;
  background-clip:      padding-box;
  background-size:        auto 100%;
  background-position:       center;
  background-image: url("../assets/slider/trough.png");
}

/* Focus, trough */
GimpSpinScale entry:focus {
  background-color:      @mid-color;
  border-color: @shade-higher-color;
}

/* Slider progress/amount bar and margins */
GimpSpinScale progress {
  background-color: @mid-highest-color;
  border:                         none;
  background-clip:         padding-box;
  background-size:           auto 100%;
  background-position:          center;
  background-image: url("../assets/cellview/cellview.png");
}

/* Focus, progress bar */
 GimpSpinScale progress:focus {
  background-color: @light-low-color;
  background-image: url("../assets/cellview/cellview.png");
} 

/* Block highlighting on number selection */
GimpSpinScale entry selection {
  background-color: @mid-higher-color;
}


/*** Navigation Zoom, Color Chooser ***/

/* Container */
scale {
  background-color: transparent;
}

/* Box around the slider */
scale contents {
  background-color: transparent;
}

/* Slider handle */
scale slider {
  background-color: @shade-low-color;
}

scale slider:hover {
  background-color: @fg-dark-high-color;
}

/* Slider handle active color */
scale slider:active {
  background-color: @fg-dark-low-color;
}

/* Slider handle inactive color */
scale slider:disabled {
  background-color: transparent;
}

/* Slider highlight, behind the handle */
scale highlight {
  background-color: @light-low-color;
  border:                  solid 2px;
  border-color:    @shade-high-color;
}

/* Trough */
scale contents trough {
  background-color: @mid-low-color;
  border:                solid 2px;
  border-color:  @shade-high-color;
}

/* Inactive slider, see preferences -> theme -> override icon sizes */
scale:disabled,
scale slider:disabled {
  background-color: transparent;
}

/* Highlight, when it's not available */
scale:disabled highlight {
  background-color: @mid-color;
}

/* Box around the notches */
scale marks {
  background-color: transparent;
}

/* Text around a slider */
scale marks label{
  color: @fg-dark-higher-color;
}

/* Text around the slider when it's not available  */
scale:disabled marks label {
  color: @disabled-color;
}

/* Box around the labels */
scale marks mark {
  background-color: transparent;
}

/* Notches on slider */
scale indicator {
  color:          @fg-dark-higher-color;
  background-color: @fg-dark-high-color;
  border:                          none;
}

/* Marks around the slider when it's not available  */
scale:disabled indicator {
  color:            @disabled-color;
  background-color: @disabled-color;
  border-color:     @disabled-color;
}




/************************** STATUS BAR **************************/

/* Background color */
statusbar border {
  background-color: @mid-high-color;
}

/* Soft-proofing widget */
statusbar box widget {
  border: none;
  background-color: transparent;
}

/* Soft-proofing on view is enabled */
statusbar box widget button:checked {
  background-color: @highlight-color;
}

/* Units on status bar, px, cm, mm.. */
statusbar combobox cellview {
  color:  @fg-dark-higher-color;
  background-color: transparent;
  border-color:     transparent;
  background-image:        none;
}

/* Zoom box on status bar */
statusbar entry {
  color:  @fg-dark-higher-color;
  background-color: transparent;
  border:                  none;
}

statusbar label {
  color:  @fg-dark-higher-color;
  background-color: transparent;
  border-color:     transparent;
}

/* Hover, on the visible cell */
statusbar combobox cellview:hover {
  color:        @fg-black-color;
  background-color: transparent;
  border-color:     transparent;
}

/* Progress bar */
progressbar trough {
  color:               @fg-dark-color;
  background-color: @shade-high-color;
  border:                   solid 2px;
  border-color:      @shade-low-color;
}

/* Progress bar text */
progressbar text {
  color:               @fg-dark-color;
  background-color:       transparent;
}

/* Progress bar highlight */
progressbar progress {
  color:              @fg-dark-color;
  background-color: @light-low-color;
  border:                  solid 2px;
  border-color:     @shade-low-color;
}




/************************** TEXT EDITOR **************************/

/* Text */
textview.view,
textview.view text {
  color:        @fg-dark-high-color;
  background-color:      @mid-color;
  caret-color:         @caret-color;
}

/* Selected */
textview.view text selection {
  color:              @fg-black-color;
  background-color: @mid-low-color;
}




/************************** TOOLBOX **************************/

/* Frame around toolbox Wilber icon */
GimpDock widget {
  border: none;
  background: transparent;
}

/* Color the toolbox Wilber icon */
GimpDock frame:first-child:not(label) {
  color:  @fg-black-color;
  background: transparent;
}

/* Frame around toolbox Wilber icon, makes a one pixel line unless: none */
GimpDock box > box > widget {
  border: none;
}

/* See Wilber image if transparent */
GimpDock border {
  background-color: transparent;
}

/* behind Tool buttons */
toolpalette {
  background-color: transparent;
}

toolpalette toolitemgroup {
  background-color: @mid-high-color
}

/* Markings on switch FG / BG */
GimpFgBgEditor {
  color: @fg-dark-color;
}

/* FG/BG panel */
flowbox {
  background-clip: padding-box;
  background-size:     contain;
  background-position:  center;
  background-repeat:  repeat-x;
  border:            solid 2px;
  border-color:     @mid-color;
  /*   background-image: url("../assets/flowbox/flowbox.png"); */
}

flowboxchild {
  background-color: @mid-higher-color;
  border:                   solid 2px;
  border-color:        @mid-low-color;
}

/* Hide overide, personal preference for now,  I prefer it all hidden */
flowboxchild {
  border:                  none;
  background-color: transparent;
}


/*** Toolbutton Groups ***/

/* Catch the expander arrow on a toolbutton */
toolitemgroup *{
  color: @fg-dark-color;
}

/* Pop-up menu padding and border */
toolbutton window menu {
  color:               @fg-dark-color;
  background-color: @mid-higher-color;
  border:                   solid 2px;
  border-color:      @shade-low-color;
}

/* Hover, row*/
toolbutton window menuitem:hover {
  background-color: @mid-highest-hover-color;
}

/* Label */
toolbutton window menuitem label {
  color: @fg-dark-higher-color;
}

/* Hover, label */
toolbutton window menuitem label:hover {
  color: @fg-black-color;
}

/* Image */
toolbutton window menuitem image {
  color:            @shade-low-color;
  background-color: @light-low-color;
  border:                  solid 2px;
  border-color:    @shade-high-color;
  opacity:                       0.6;
}

/* Hover, image */
toolbutton window menuitem:hover image {
  color:               @fg-black-color;
  background-color: @light-hover-color;
  border:                    solid 2px;
  border-color:           @shade-color;
  opacity:                           1;
}




/************************** TOOLTIPS **************************/

/* Gets rid of hard to find bug, a few pixels around the rounded corners */
tooltip *{
  background-color: transparent;
}

/* Panel and frame */
tooltip.background {
  background-color: @mid-higher-color;
  border:                   solid 3px;
  border-color:      @shade-low-color;
}

/* edge to dialogs */
tooltip.dialog-vbox {
  background-color: transparent;
}

tooltip box {
  color:         @fg-dark-color;
  background-color: transparent;
}

 tooltip box label {
  color:         @fg-dark-color;
  background-color: transparent;
}

tooltip box image {
  color: @fg-dark-color;
  background-color:  transparent;
  border:              solid 2px;
  border-color: @shade-low-color;
}




/************************** Inherited from GIMP 2 **************************/

*{
  /* Toolbutton icon size boost if icon size not overridden */
  -GimpToolPalette-tool-icon-size: large-toolbar;

  /* Gets rid of a 1 pixel gap around dialogs */
  -GtkDialog-content-area-border: 0;
}



