/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Default margin, padding and size assignments for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/*
* @ BUTTONS
* @ COLOR SELECTOR
* @ DIALOG
* @ DOCKABLES
* @ FILE DIALOG
* @ FILTER DIALOG
* @ IMAGE BAR
* @ LAYER STACK
* @ MENU
* @ OVERLAY
* @ PANELS
* @ POPOVER
* @ RULER
* @ SCROLLBARS
* @ SLIDERS
* @ STATUS BAR
* @ TEXT EDITOR
* @ TOOLBOX
* @ TOOLTIPS
*/


/* emoving all the default layout settings inherited from Gtk */
*{
  padding: 0em;
  margin:  0em;
}



/************************** BUTTONS **************************/

/* User input boxes */
entry {
  margin:         0.1em;
  padding-left:   0.2em;
  padding-top:    0.1em;
  padding-bottom: 0.1em;
  min-width:     0.45em;
}

/* For any image in an entry, usually a little dropdown arrow */
entry image {
  margin:       0.15em;
  margin-right: 0.25em;
}

/* All Labels */
label {
  margin: 0.1em;
}

/* Button and tabs */
button,
GimpDock tab,
dialog tab {
  margin:     0.1em;
  min-height: 0.65em;
  min-width:  0.65em;
}

/* The image on a button, 'em' for relative to scale to parent  */
button image,
tab    image {
  margin: 0.2em;
}

/* Labels, within a button */
button label {
  margin: 0.15em;
}

/* Checkboxes and Radio Buttons */
check,
radio {
  min-height:   0.5em;
  min-width:    0.5em;
  margin:      0.15em;
  margin-left:  0.1em;
}

/* Radio button adjust */
radio {
  margin: 0em;
}

/* Position of label next to checkboxes */
checkbutton label,
radiobutton label {
  margin-left: 0.2em;
}

/* Combobox, Dropdown, Pop-up Menus */
combobox box button {
  margin: 0em;
}

/* Switch Button */
switch {
  margin:   0.2em;
  min-width:  52px;
  min-height: 24px;
}

/* Action Buttons, Help, Reset, Cancel and OK */
.dialog-action-box button label {
  margin: 0.2em;
}

/* Spinbutton container, height related to slider */
spinbutton {
  margin:     0.1em;
  min-height: 1.4em;
  min-width:    1em;
}

/* Input box, position of numbers */
spinbutton entry {
  margin:        0.1em;
  margin-right:    0em;
  padding-left:  0.2em;
  padding-right: 0.2em;
  padding-top:   0.05em;
}

/* Buttons next to slider, margin-top and bottom control -+ shape */
spinbutton    button,
GimpSpinScale button {
  min-height:     0.6em;
  min-width:      0.6em;
  margin:           0em;
  margin-left:    0.1em;
  margin-top:     0.0em;
  margin-bottom:  0.0em;
  padding:        0.1em;
}

spinbutton    button {
  margin-top:    0.22em;
  margin-bottom: 0.22em;
}

/* The corner buttons on the canvas, Access Menu, Zoom, Navigate, Quick Mask */
GimpDisplayShell grid > button,
GimpDisplayShell grid > button.flat,
GimpDisplayShell grid > widget {
  min-width:  0.45em;
  min-height: 0.45em;
  margin:        0em;
}

/* Image margin override to get rid of pixel gap */
GimpDisplayShell grid > button image,
GimpDisplayShell grid > button.flat image,
GimpDisplayShell grid > widget image {
  margin: 0em;
}

/*** Reset and Link Button Overrides ***/

/* A particular button path to catch 'Link to Brush Default' and 'Reset' */
GimpDock widget viewport box box box button.flat image {
  margin: 0.0em;
}

/* A particular button path to catch 'Link to Brush Default' and 'Reset' */
GimpDock widget viewport box box box button.flat {
  margin:        0.07em;
  margin-top:    0.07em;
  margin-bottom: 0.07em;
}



/************************** COLOR SELECTOR **************************/

/* CMYK color selection dialog chooser area */
GimpColorSelection ColorselCmyk {
  padding: 0.1em;
}

/* Color selectors spacing */
ColorselWheel,
GimpColorSelect,
ColorselCmyk,
ColorselWater,
GimpColorSelectorPalette {
  margin:        0.5em;
  margin-bottom: 0.5em;
}

/* Color square buttons override */
GimpColorHistory button {
  min-width:  0.9em;
  min-height: 0.9em;
}

/* Color select sliders */
GimpColorScale trough {
  min-height: 0.45em;;
}

/* Color gradient slider width */
GimpColorSelect box frame {
  min-width: 1.5em;
}




/************************** DIALOG **************************/

/* Dialogs, New Layer, Preferences, Text Editor */

/* Show all files, select file types and action boxes, effects all dialogs */
actionbar {
  padding: 0.2em;
}

/* Label in preferences header */
dialog widget label {
  padding:     0.1em;
  margin-left: 0.4em;
}

/* Image in preferences header */
dialog widget image {
  padding: 0.2em;
}

/* Margin between internal frame for locations and container */
dialog scrolledwindow viewport frame {
  margin-right:  1em;
  margin-bottom: 1em;
  margin-top:  0.2em;
  margin-left: 0.2em;
}


/*** The List of Locations in Preferences ***/

/* Behind the rows of locations */
dialog list {
  padding: 0.1em;
}

/* Spacing for rows of locations to select */
dialog row {
  padding: 0.1em;
}

/* Labels in a row */
dialog row label {
  padding-left: 0.2em;
}

/* Widget for FG/BG in a tab */
tab GimpFgBgView {
  padding: 0.1em;
}


/*** Places Sidebar, The Operating System List of Locations ***/

/* Selected, each row */
dialog placessidebar row revealer label {
  margin:  0em;
  padding: 0em;
}

/* Image margin */
dialog placessidebar image {
  margin: 0.2em;
}




/************************** DOCKABLES **************************/

/* Gives a margin to free-floating dockables, but also docked ones */
GimpDock {
  margin: 0.2em;
}

/* Slider that appears when needed */
GimpDock scrollbar {
  margin-left: 0.2em;
}

/* More margin room for a label on a dockable tab, related to icon scale */
GimpDock tab label,
dialog tab label {
  margin-right: 0.25em;
  margin-left:  0.25em;
  margin-top:    0.1em;
  margin-bottom: 0.1em;
}




/************************** FILE DIALOG **************************/

/* Margin around places sidebar */
GimpFileDialog viewport {
  margin:  0em;
  padding: 0em;
}

/* Margin between the dialog edge and the dialog content */
GimpFileDialog filechooser {
  margin: 0em;
}

/* Scroll bars */
GimpFileDialog scrollbar slider {
  margin:  0em;
  padding: 0em;
}

/* Seperator between sections in the OS places list */
GimpFileDialog filechooser paned list separator {
  margin:     0.1em;
  min-width:  0.1em;
  min-height: 0.1em;
}

/* Moveable panel separator between places and files to choose */
GimpFileDialog filechooser paned separator {
  margin:    0em;
  min-width:  0.1em;
  min-height: 0.1em;
}


/*** File Selection, a Treeview ***/

/* Name, Size, Type buttons */
GimpFileDialog treeview header button,
GimpFileDialog expander treeview button {
  margin:          0em;
  padding:         0em;
  padding-right: 0.4em;
  padding-left:  0.2em;
}


/*** The 'Preview' Section ***/

/* Awkward inner area */
GimpFileDialog treeview widget box box {
  padding-right: 1em;
}

/* The "Preview" area in File Dialog */
GimpFileDialog treeview widget box {
  padding-left: 0.4em;
}

/* The 'Preview' header box button in File Dialog, hiding it */
GimpFileDialog treeview widget header button {
  padding-right: 0.4em;
  padding-left:  0.4em;
}

/* Justify the 'Preview' label */
GimpFileDialog treeview widget header button label {
  padding-left: 2.5em;
}


/*** Places Sidebar, The Operating System List of Locations ***/

/* Selected, each row */
GimpFileDialog placessidebar row revealer label {
  margin:  0em;
  padding: 0em;
}

/* Image margin */
GimpFileDialog placessidebar image {
  margin: 0.2em;
}




/************************** FILTER DIALOG **************************/

/* The G icon in a GEGL filter dialog*/
GimpToolDialog image {
  margin: 0.2em;
}



/************************** IMAGE BAR **************************/

/* Image buttons override */
header tab button image {
  padding: 0em;
  margin:  0em;
}

/* Hover, buttons override */
header tab button:not(:checked):hover image{
  margin: 0em;
}




/************************** LAYER STACK **************************/

/* Items in the stack, layers */
GimpDock treeview.view {
  padding:     0.1em;
  padding-top:    1px;
  padding-bottom: 1px;
  margin-left: 0.2em;
}

/* Layer naming */
GimpDock treeview.view entry {
  padding-left: 0.4em;
  margin:         0em;
}

/* Space around the tabs and one pixel line */
GimpDock header {
  margin-top:    0em;
  margin-bottom: 0em;
}

/* Color tag squares in 'Create a New Layer' */
#gimp-color-tag-box button {
  padding:      0em;
  margin:     0.4em;
  margin-top: 0.4em;
}

/*** Padlock and Visibility Column Icons above Layer Stack ***/

/* Underline divider */
GimpDock treeview header box {
  margin-bottom: 0.1em;
}

/* Lower Opacity */
GimpDock treeview header button {
  padding-left: 0.03em;
  margin:         0em;
}

/* How many items are selected */
GimpDock treeview.view header label,
GimpDock treeview.view header label selection {
  padding-left: 0.6em;
}

/* space between layer tree and opacity slider, when the layer mode is hidden */
/* also all scrolled windows in docks :( */
GimpDock scrolledwindow {
  padding-top: 0.2em;
}



/************************** MENU **************************/

/* General arrow */
arrow {
  min-width:  0.6em;
  min-height: 0.6em;
}

/* Menu panel */
menu {
  padding-top:    0.25em;
  padding-bottom: 0.25em;
  padding-left:   0.25em;
}

/* Items rows in the menu */
menuitem {
  min-width:      1em;
  margin-left: 0.25em;
  margin-right:   1em;
  margin-top:     0em;
  margin-bottom:  0em;
}

/* That horizontal dividing line between menu sections */
menu separator {
  min-width:  0.1em;
  min-height: 0.1em;
  margin:     0.2em;
  margin-left:  1em;
  margin-right: 1em;
}

/* Arrow to sub-menu */
menuitem > arrow {
  margin: 0.2em;
}

/* Up, down Arrow */
menu arrow {
  margin: 0.4em;
}

/* Labels padding in menu */
menubar  label,
menu     label,
menuitem label {
  padding-bottom: 0.05em;
}


/*** Document Title Header ***/

headerbar, menubar {
  min-height: 0.2em;
}

/* Active document name, padding from the menu items*/
headerbar .title {
  padding-left: 1em;
}

/* Override button base state for min, max and close */
headerbar button {
  margin:     0.1em;
  min-width:  0.2em;
  min-height: 0.2em;
}


/*** Top Menu Bar, File, Edit... ***/

/* Top menu spacing, padding controls highlighting area */
menubar > menuitem {
  margin-top:   0.05em;
  margin-right: 0.15em;
  padding-top:     0em;
  padding-left:  0.2em;
  padding-right: 0.2em;
}


/*** Combobox Dropdown Menu ***/

/* exterior margin, padding gets to the 'Legacy Modes' reset icon */
cellview {
  margin-bottom: 0.1em;
  margin-left:   0.1em;
  margin-right:  0em;
  padding:       0.1em;
}

/* The external, visible cell Justify the label for the 'Mode     Normal' */
combobox cellview {
  padding-left:   0.05em;
  padding-top:    0.01em;
  padding-bottom: 0.01em;
}

/* Panel of the drop down menu, padding is around the border */
combobox menu {
  padding: 0.2em;
  padding-top:     0.35em;
  padding-bottom:  0.35em;
}

/* That horizontal dividing line between menu sections in a combobox menu */
combobox menu separator {
  min-width:      0.1em;
  min-height:     0.1em;
  margin:         0.2em;
  margin-left:    0.5em;
  margin-right:   0.5em;
  background-image: none;
}

/* Cells *in* the drop menu */
combobox menuitem cellview {
  margin:      0.1em;
  padding:       0em;
  margin-top:    0em;
  margin-bottom: 0em;
}


/*** Iconview, View as Grid ***/

/* Helps, especially on white brush selection */
iconview {
  padding: 0.1em;
}

/* Inside and behind a 'filter' and iconview, needs a better path */
GimpDock widget .view {
  margin: 0.2em;
}



/************************** OVERLAY **************************/

/* Color Picker Info, Transform */

/* Background panel */
GimpOverlayDialog > box {
  margin: 0.2em;
}

/* Scale reset button fix */
GimpOverlayDialog > buttonbox :last-child {
  margin-left: 1em;
}




/************************** PANELS **************************/

/* Placeholder for the Canvas */
GimpDisplayShell {
  padding: 0em;
}

/* Placeholder for the final background to various panels and dialogs */
.background {
  padding: 0em;
}

/* Window edge zone */
decoration {
  margin: 1em;
}

/* Edge to a dialog, sometimes not, for Script-Fu windows its an inner edge */
.dialog-vbox {
  padding: 0.2em;
}

/* Placeholder, some panels have windows within called viewports */
viewport {
  padding: 0em;
}

/* Placeholder, for a scrolled window in a dialog or dockable */
scrolledwindow {
  padding: 0em;
}

/* Placeholder, around canvas corner buttons */
GimpDisplayShell grid {
  padding: 0em;
}

/* Text Tool, toolbar spacing */
toolbar {
  margin: 0.2em;
}

/* Text Tool, seperator spacing */
toolbar separator {
  min-width:  0.1em;
  min-height: 0.1em;
  margin:     0.1em;
}


/*** Separators ***/

/* Canvas separators */
paned.horizontal > separator,
paned.vertical > separator {
  min-width:  0.3em;
  min-height: 0.3em;
}

paned.vertical > separator {
  min-width:     0.3em;
  min-height:    0.3em;
  margin-top:    0.1em;
  margin-bottom: 0.1em;
  margin-left:     0em;
  margin-right:    0em;
}

/* Distance between dockable tabs and baked in line */
tabs {
  padding-bottom: 0.15em;
  margin-bottom:     0em;
}




/************************** POPOVER **************************/

/*Popovers -Text Tool, Linked Sets */

/* Popovers -Text Tool - Edge */
popover.background {
  padding: 0.2em;
  margin:    0em;
}




/************************** RULER **************************/




/************************** SCROLLBARS **************************/

/* Placeholder for the slider */
scrollbar slider {
  padding: 0em;
  margin:  0em;
}

/* Min values get rid of a 1 pixel gap */
scrollbar trough {
  min-width:  0.5em;
  min-height: 0.5em;
  padding:       1px;
  margin:       0em;
}




/************************ SLIDERS **************************/

/* Opacity and Paintbrush style */

/* Placeholder, Slider container, margin around slider */
GimpSpinScale {
  margin:        0.1em;
  margin-right:  0.1em;
}

/* Slider trough, also sets height of the slider */
GimpSpinScale entry {
  min-height:    1.4em;
  padding:         0em;
  padding-right:   8px;
  padding-left:    1px;
  margin:          0em;
  margin-right: 0.05em;
}

/* Slider highlight, it's progress, negative hack, see padding above */
GimpSpinScale progress {
  margin-left:   0em;
  margin-right: -7px;
  margin-top:    0em;
  margin-bottom: 0em;
}


/*** Navigation Zoom ***/

/* Container */
scale {
  margin-left: 0.2em;
}

/* Placeholder, trough */
scale trough {
  margin: 0em;
}

/* Slider handle, sizing */
scale slider {
  min-height: 0.7em;
  min-width:  0.7em;
}

/* Slider highlight, behind the handle */
scale highlight {
  margin:  0.1em;
  padding: 0.1em;
}

/* Notches on slider */
scale indicator {
  min-height:  0.5em;
  min-width:  0.15em;
}




/************************** STATUS BAR **************************/


/*  Soft-proofing on view off, low contrast */
statusbar box widget button {
  padding:     0.2em;
  margin:     0.25em;
  min-width:   0.4em;
  min-height:  0.4em;
}

/* Zoom box on status bar */
statusbar combobox entry {
  min-width:  4em;
  min-height: 1em;
}

/* Progress bar, margin to the progress bar causes the initial status bar to be oversized */
progressbar trough {
  padding:     0.1em;
  padding-left:   1px;
  padding-right:  1px;
}

/* Progress bar text */
progressbar text {
  margin: 0.2em;
}

/* Progress bar highlight */
progressbar progress {
  padding: 0em;
  margin:  0em;
}




/************************** TEXT EDITOR **************************/

/* Spacing around edge of pop up and editor*/
GimpTextStyleEditor {
  margin: 0.2em;
}




/************************** TOOLBOX **************************/

/* Toolbutton image/icon margin, try 'em - parent element' for scaling icons */
toolbutton button image {
  margin: 0.2em;
}

/* Placeholder, FG/BG area on toolbox */
flowbox {
  margin:        0.1em;
  margin-top:      0em;
  margin-bottom: 0.1em;
  padding:      0.05em;
}

/* Items in the flowbox, and when flowbox is empty */
flowboxchild {
  padding: 0.05em;
  margin:  0.05em;
}



/*** Toolbutton Groups ***/

/* Pop-up menu padding */
toolbutton window menu {
  padding: 0.1em;
  margin:  0.2em;
}

/* Space between the tools inside the menu */
toolbutton window menuitem {
  margin:           0em;
  padding:          0em;
  padding-top:    0.1em;
  padding-bottom: 0.1em;
}

 /* Icons in toolbutton group pop-up */
toolbutton window menuitem image {
  padding:  0.1em;
  min-width:  1em;
  min-height: 1em;
}




/************************** TOOLTIPS **************************/

/* Around the edge */
tooltip.background {
  padding: 0.1em;
}

tooltip box label {
  padding: 0.1em;
  margin:  0.1em;
}

tooltip box image {
  padding: 0.2em;
  margin:  0.1em;
}




/************************** Inherited from GIMP 2 **************************/

*{
  /* Toolbutton icon size boost if icon size not overridden */
  -GimpToolPalette-tool-icon-size: large-toolbar;

  /* Gets rid of a 1 pixel gap around dialogs */
  -GtkDialog-content-area-border: 0;
}




