/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Dark 'Dark' theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */

/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(0, 0, 0);
@define-color fg-dark-low-color             rgb(8, 8, 8);
@define-color fg-dark-color              rgb(12, 12, 12);
@define-color fg-dark-high-color         rgb(18, 18, 18);
@define-color fg-dark-higher-color       rgb(34, 34, 34);

/* Background shade colors */
@define-color shade-lower-color          rgb(5, 5, 5);
@define-color shade-low-color            rgb(6, 6, 6);
@define-color shade-color                rgb(7, 7, 7);
@define-color shade-high-color           rgb(10, 10, 10);
@define-color shade-higher-color         rgb(12, 12, 12);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(14, 14, 14);
@define-color mid-low-hover-color        rgb(19, 19, 19);
@define-color mid-color                  rgb(23, 23, 23);
@define-color mid-high-color          rgb(35, 35, 35);
@define-color mid-high-hover-color    rgb(39, 39, 39);
@define-color mid-higher-color        rgb(47, 47, 47);
@define-color mid-highest-color       rgb(58, 58, 58);
@define-color mid-highest-hover-color rgb(69, 69, 69);

/* Background light colors */
@define-color light-low-color         rgb(109, 109, 109);
@define-color light-low-hover-color   rgb(115, 115, 115);
@define-color light-color             rgb(123, 123, 123);
@define-color light-hover-color       rgb(132, 132, 132);
@define-color light-high-color        rgb(139, 139, 139);
@define-color light-higher-color      rgb(153, 153, 153);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(164, 164, 164);
@define-color fg-bright-low-color     rgb(181, 181, 181);
@define-color fg-bright-color         rgb(199, 199, 199);
@define-color fg-bright-high-color    rgb(218, 218, 218);
@define-color fg-white-color          rgb(238, 238, 238);

/* Highlighting color */
@define-color highlight-low-color       rgb(140, 22, 22);
@define-color highlight-color           rgb(161, 72, 72);

/* fg darks with no remapping */
@define-color og-black-color                rgb(0, 0, 0);
@define-color og-dark-low-color             rgb(8, 8, 8);
@define-color og-dark-color              rgb(12, 12, 12);
@define-color og-dark-high-color         rgb(18, 18, 18);
@define-color og-dark-higher-color       rgb(34, 34, 34);


/* End paste */

@define-color bg-color                    @mid-color;

/* Remap for dark theme */
@define-color fg-black-color              @fg-white-color;
@define-color fg-dark-low-color     @fg-bright-high-color;
@define-color fg-dark-color              @fg-bright-color;
@define-color fg-dark-high-color     @fg-bright-low-color;
@define-color fg-dark-higher-color @fg-bright-lower-color;

/* Canvas color */
@define-color canvas-color             rgb(40, 40, 40);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* Disabled actions in menus */
@define-color disabled-color             @mid-highest-hover-color;

/* specifically for subtlety, relative to, mid-high-color 35 */
@define-color seperator-color       rgb(20, 20, 20);
@define-color seperator-hover-color rgb(27, 27, 27);

/* Decoration shadow opacity */
@define-color box-shadow-color        rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color  rgba(0, 0, 0, 0);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:               @fg-bright-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}