/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Dark theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */


/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(0, 0, 0);
@define-color fg-dark-low-color             rgb(8, 8, 8);
@define-color fg-dark-color              rgb(12, 12, 12);
@define-color fg-dark-high-color         rgb(18, 18, 18);
@define-color fg-dark-higher-color       rgb(34, 34, 34);

/* Background shade colors */
@define-color shade-lower-color          rgb(8, 8, 8);
@define-color shade-low-color            rgb(10, 10, 10);
@define-color shade-color                rgb(12, 12, 12);
@define-color shade-high-color           rgb(15, 15, 15);
@define-color shade-higher-color         rgb(18, 18, 18);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(26, 26, 26);
@define-color mid-low-hover-color        rgb(32, 32, 32);
@define-color mid-color                  rgb(37, 37, 37);
@define-color mid-high-color          rgb(51, 51, 51);
@define-color mid-high-hover-color    rgb(55, 55, 55);
@define-color mid-higher-color        rgb(65, 65, 65);
@define-color mid-highest-color       rgb(77, 77, 77);
@define-color mid-highest-hover-color rgb(89, 89, 89);

/* Background light colors */
@define-color light-low-color         rgb(131, 131, 131);
@define-color light-low-hover-color   rgb(137, 137, 137);
@define-color light-color             rgb(145, 145, 145);
@define-color light-hover-color       rgb(153, 153, 153);
@define-color light-high-color        rgb(160, 160, 160);
@define-color light-higher-color      rgb(173, 173, 173);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(185, 185, 185);
@define-color fg-bright-low-color     rgb(199, 199, 199);
@define-color fg-bright-color         rgb(213, 213, 213);
@define-color fg-bright-high-color    rgb(228, 228, 228);
@define-color fg-white-color          rgb(244, 244, 244);

/* Highlighting color */
@define-color highlight-low-color       rgb(140, 22, 22);
@define-color highlight-color           rgb(161, 72, 72);

/* fg darks with no remapping */
@define-color og-black-color                rgb(0, 0, 0);
@define-color og-dark-low-color             rgb(8, 8, 8);
@define-color og-dark-color              rgb(12, 12, 12);
@define-color og-dark-high-color         rgb(18, 18, 18);
@define-color og-dark-higher-color       rgb(34, 34, 34);



/* End paste */

@define-color bg-color                    @mid-color;

/* Remap for dark theme */
@define-color fg-black-color              @fg-white-color;
@define-color fg-dark-low-color     @fg-bright-high-color;
@define-color fg-dark-color              @fg-bright-color;
@define-color fg-dark-high-color     @fg-bright-low-color;
@define-color fg-dark-higher-color @fg-bright-lower-color;


/* Canvas color */
@define-color canvas-color             rgb(60, 60, 60);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* specifically for subtlety, relative to, mid-high-color 51 (-5...-3 */
@define-color seperator-color       rgb(36, 36, 36);
@define-color seperator-hover-color rgb(43, 43, 43);

/* Disabled actions in menus */
@define-color disabled-color             @mid-highest-hover-color;

/* Decoration shadow opacity */
@define-color box-shadow-color        rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color  rgba(0, 0, 0, 0);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:               @fg-bright-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}

