/*
* @ THEME ADJUSTMENTS GO IN HERE
*/

paned.horizontal > separator {
  background-image: url("../assets/separators/separator-handle-light.svg");
}

paned.vertical > separator {
  background-image: url("../assets/separators/separator-handle-v-light.svg");
}

/* Hopefully, just the curve view in dynamics */
GimpDock notebook notebook widget .view  {
  background-color: @light-low-color;
}