/*
* @ THEME ADJUSTMENTS GO IN HERE
*/


check {
  background-color:   transparent;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-unchecked.svg");
}

check:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

check:checked {
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked.svg");
}

check:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
  -gtk-icon-source: url("../assets/checkbox/checkbox-checked-disabled.svg");
}

radio:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio:checked:disabled {
  background-color: transparent;
  border-color: @disabled-color;
}

radio {
  background-color:   transparent;
  border-color: @shade-high-color;
  -gtk-icon-source: url("../assets/radiobutton/radio-unchecked.svg");
}

radio:checked {
  -gtk-icon-source: url("../assets/radiobutton/radio-checked.svg");
}

/* Checked button - on, higher contrast */
toolbutton button:checked {

  border-color: @warm-light-color;
  background-image: url("../assets/toolbutton/toolbutton-checked.png");
}


paned.horizontal > separator {
  background-image: url("../assets/separators/separator-handle.svg");
}

paned.vertical > separator {
  background-image: url("../assets/separators/separator-handle-v.svg");
}

/* Hover effect */
paned.horizontal > separator:hover,
paned.vertical > separator:hover {
  border-color: @mid-low-hover-color;
}

/* Toolbutton and Action button texture */
toolbutton button,
buttonbox button {
  background-image: url("../assets/toolbutton/toolbutton.png");
}

/* Hopefully, just button bar buttons */
GimpDock notebook widget box > box > button {
  background-image: url("../assets/toolbutton/toolbutton.png");
}

/* Cellview, external view of combobox */
cellview {
  background-image: url("../assets/cellview/cellview.png");
}

/* Entry for 'filter' */
GimpDock widget box box > entry {
  background-image: url("../assets/cellview/cellview.png");
}

/* Focus, progress bar */
GimpSpinScale progress:focus {
  background-image: url("../assets/cellview/cellview.png");
  background-color: @light-low-color;
} 

GimpSpinScale progress {
  background-image: url("../assets/cellview/cellview.png");
}

/* Buttons, - +, overrides */
spinbutton        button,
dialog spinbutton button,
GimpSpinScale     button {
  background-image: url("../assets/spinbutton/spinbutton.png");
}

/* Tabs, need to be specific because of the image bar tabs */
GimpDock header tab,
dialog header tab,
GimpDock header button {
  background-image: url("../assets/tab/tab.png");
}

