/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: High Contrast theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */

/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(0, 0, 0);
@define-color fg-dark-low-color             rgb(7, 7, 7);
@define-color fg-dark-color              rgb(11, 11, 11);
@define-color fg-dark-high-color         rgb(17, 17, 17);
@define-color fg-dark-higher-color       rgb(32, 32, 32);

/* Background shade colors */
@define-color shade-lower-color          rgb(27, 27, 27);
@define-color shade-low-color            rgb(31, 31, 31);
@define-color shade-color                rgb(34, 34, 34);
@define-color shade-high-color           rgb(39, 39, 39);
@define-color shade-higher-color         rgb(44, 44, 44);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(146, 146, 146);
@define-color mid-low-hover-color        rgb(163, 163, 163);
@define-color mid-color                  rgb(175, 175, 175);
@define-color mid-high-color          rgb(193, 193, 193);
@define-color mid-high-hover-color    rgb(201, 201, 201);
@define-color mid-higher-color        rgb(206, 206, 206);
@define-color mid-highest-color       rgb(219, 219, 219);
@define-color mid-highest-hover-color rgb(230, 230, 230);

/* Background light colors */
@define-color light-low-color         rgb(234, 234, 234);
@define-color light-low-hover-color   rgb(241, 241, 241);
@define-color light-color             rgb(249, 249, 249);
@define-color light-hover-color       rgb(250, 250, 250);
@define-color light-high-color        rgb(252, 252, 252);
@define-color light-higher-color      rgb(255, 255, 255);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(222, 222, 222);
@define-color fg-bright-low-color     rgb(230, 230, 230);
@define-color fg-bright-color         rgb(239, 239, 239);
@define-color fg-bright-high-color    rgb(248, 248, 248);
@define-color fg-white-color          rgb(255, 255, 255);

/* Highlighting color */
@define-color highlight-low-color       rgb(210, 39, 39);
@define-color highlight-color           rgb(238, 119, 119);

/* fg darks with no remapping */
@define-color og-black-color                rgb(0, 0, 0);
@define-color og-dark-low-color             rgb(7, 7, 7);
@define-color og-dark-color              rgb(11, 11, 11);
@define-color og-dark-high-color         rgb(17, 17, 17);
@define-color og-dark-higher-color       rgb(32, 32, 32);


/* End paste */

@define-color bg-color                    @mid-color;

/* Highlighting color */
@define-color highlight-hover-color    rgb(255, 75, 10);

/* Canvas color */
@define-color canvas-color            rgb(170, 170, 170);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* specifically for subtlety, relative to, mid-high-color 193 (-5...-3 */
@define-color seperator-color       rgb(145, 145, 145);
@define-color seperator-hover-color rgb(160, 160, 160);

/* Disabled actions in menus */
@define-color disabled-color             rgb(115, 115, 115);

/* Decoration shadow opacity */
@define-color box-shadow-color       rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color rgba(0, 0, 0, 0);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:                 @fg-dark-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}
