/* Operating System Theme  */

/* Dotted line boxes to indicate a layer option */
GimpDock treeview .toggle-icon:not(.visible):hover {
  border:       dotted 2px;
  border-color: @theme_bg_color;
}

/* Selected and hover */
GimpDock treeview .toggle-icon:not(.visible):selected:hover {
  border:            dotted 2px;
  border-color: @theme_bg_color;
}

GimpDisplayShell progressbar trough,
GimpDisplayShell progressbar progress {
  min-height: 1em;
}

GimpFileDialog progressbar trough,
GimpFileDialog progressbar progress {
  min-width:  1px; /* hack */
  min-height: 1em;
}

GimpSpinScale entry {
  /* Important: prevent overhigh spin scale */
  min-height: 16px;
}

GimpSpinScale entry progress {
  background-image: linear-gradient(to bottom, transparent calc(100% - 4px), @theme_selected_bg_color calc(100% - 4px));
  background-size:  100% 100%;
  border-width:     0px;
  border-radius:    3px;
}

/************************** Inherited from GIMP 2 **************************/

*{
  /* Toolbutton icon size boost if icon size not overridden */
  -GimpToolPalette-tool-icon-size: large-toolbar;

  /* Gets rid of a 1 pixel gap around dialogs */
  -GtkDialog-content-area-border: 0;
}

GimpDock entry,
GimpDock spinbutton,
GimpDock GimpColorNotebook spinbutton,
GimpDock GimpColorNotebook spinbutton entry,
GimpDock GimpColorScales spinbutton,
GimpDock GimpColorScales spinbutton entry {
  min-height: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

GimpColorHistory button {
  padding: 3px 3px 3px 3px;
}

#gimp-color-tag-box button {
  padding: 4px 6px 4px 6px;
}

GimpFgBgEditor:active {
  border-width: 2px 2px 2px 2px;
}

GimpDock :not(toolbutton) > button,
GimpOverlayDialog button,
GimpToolDialog :not(headerbar) button,
GimpTextStyleEditor button {
  padding: 0px 2px 0px 2px;
}

GimpDisplayShell grid > button {
  min-height: 0;
  min-width: 0;
  padding: 0 0 0 0;
}

spinbutton entry {
  border-radius: 3px;
}

GimpSpinScale button {
  /* Makes the +- buttons a bit more compact. */
  padding: 0 1px 0 1px;
}